@charset "utf-8";

/*-----------------------------------------------------
PageAcademics  Style
------------------------------------------------------*/
#LowerMainvis { background-color: #c9e6e7; }
#LowerMainvis .LowerMainvisInner { background-image: url(../images/mainvis_img.jpg); background-position:top right 110px; }

.PageAcademics .TextBlock .TextStyleRight { font-size: 13px; }
.PageAcademics .TextBlock .TextStyleLeft { font-size: 13px; }
.PageAcademics .TextBlock .AreaCampus { float: right; }
.PageAcademics .TextBlock .AreaCampus li { float: left; line-height: 1; padding-left: 7px; }
.PageAcademics .TextBlock .AreaCampus li:first-child { border-right: 1px solid #ae84ad; padding-right: 7px; }
.PageAcademics .TextBlock .TextStyleRight a { position: relative; }
.PageAcademics .TextBlock .TextStyleRight a.icon-after-Download:after { content: "\e90b"; position: absolute; top: 2px; font-size: 14px; color: #fbb34d; }

.PageAcademics .ListBlock .OrderList li { font-size:13px; color:#5e5e5e; }
.PageAcademics .BoxText p { font-size: 13px; color: #5e5e5e; line-height: 18px; }

.TextBlock blockquote { background: url(../../academics/images/bg_slash.png) 0 0 repeat; padding: 30px; margin:0; }
.TextBlock blockquote h4 { font-size: 18px; font-weight: bold; color: #222222; padding-bottom: 27px; }
.TextBlock blockquote p.Text { font-size: 22px; color: #5e5e5e; }

.PageAcademics .PageTitle { margin-bottom:50px; }
.PageAcademics .PageTitle h2.TitleStyle01 { margin-bottom: 12px; }
.PageGraduate .InfoTele{ font-size: 15px; color: #222; }

.PageDegrees table.TableStyle01 thead th { width: auto !important; word-wrap: break-word; }
.PageDegrees table.TableStyle01 tbody td { word-wrap: break-word; }
.PageJapanesLanguageEducation .LinkItem a.LinkUrl { word-break: break-word; }

.PageIndex .T3IndexList ul li a.icon-after-ArrowRight { color:#222; }
.PageIndex .T3IndexList ul li a.icon-after-ArrowRight:hover { text-decoration: none; }

.PageMinors table.TableStyle01 thead th { text-align: center; }
.PageMinors table.TableStyle01 thead th.col-1 { width:140px; }
.PageMinors table.TableStyle01 tbody td { text-align: left; }

.InfoBlock .LinkText { float:left; }

@media screen and (min-width: 769px){
    .PageIndex .T3IndexList > ul:after { display:block; content:""; clear:both; height:0; font-size:0; visibility:hidden; }
    .PageIndex .T3IndexList > ul > li:nth-child(odd) { width:355px; float:left; }
    .PageIndex .T3IndexList > ul > li:nth-child(even) { width:390px; float:right; }
    .T3IndexList ul li a.icon-after-ArrowRight:hover { color:#fbb34d; }
}
@media screen and (max-width: 768px){
    #LowerMainvis .LowerMainvisInner { background-position:top right; }

    .TextBlock blockquote { padding: 15px; }
	.TextBlock blockquote p.Text { font-size: 16px; }

	.ClmBox.Clm5-5 .BoxL { width: 100%; }
	.ClmBox.Clm5-5 .BoxR { width: 100%; }

    .PageMinors table.TableStyle01 thead th.col-1 { width:70px; }
}
