<div id="Lside">
	<nav class="LsideNav">
		<ul class="LsideList">
			<li><a href="/english/admissions/japanese_language_course.html" class="AcoJapaneseLanguageCourse">Japanese Language Course</a></li>
			<li><a href="/english/admissions/exchange.html" class="AcoExchange">Exchange Programs</a></li>
			<li><a href="/english/admissions/short-term.html" class="AcoShort-term">Short-term Programs</a></li>
		</ul>
	</nav><!-- /.LsideNav -->
</div><!-- /#Lside -->
