@charset "utf-8";

.PageProjects .PdfList .entry { margin-bottom:20px; }
.PageProjects .PdfList .entry a { display:inline-block; }
.PageProjects .PdfList .entry a .Tit { font-size:16px; font-weight:bold; }

.PageProjects .PdfList .entry a .Tit span.memory { display: inline-block; position: relative; background-color: #e8e8e8; font-size: 10px; color:#222; line-height:16px; vertical-align: top; padding: 0 6px; margin-left: 4px; top:3px; }
.PageProjects .PdfList .entry a .Txt { font-size:15px; }


@media screen and (max-width:768px) {
    .PageExcellence .TxtRight.Break .MetaData { position:static; margin-top:10px; }
}
