@charset "utf-8";

/*-----------------------------------------------------
Campus Page Style
------------------------------------------------------*/
.MapArea .Obj { text-align: center; }
.MapArea .Obj img { display:inline; }
.MapArea .LinkText.TxtRight { text-align: right; }
.TitAddress { font-size: 18px; color: #054488; }

p.TxtAddress {  }
p.TxtAddress a { display: inline-block; color:#dd6800; margin-left:10px; }
p.TxtAddress a:hover { color:#fbb34d; }
p.TxtAddress a.icon-Access:before { position:relative; top:1px; font-size:16px; color:#e5911a; margin-right:3px; }

.PageIndex .BoxStyle .LinkText { text-align: right; }
.PageIndex .BoxStyle .LinkText .LinkItem { display:inline-block; }

@media screen and (max-width: 768px){
.MapArea .Obj img { display:block; }
p.TxtAddress { position:relative; padding-right:60px; }
p.TxtAddress a { position:absolute; top:0; right:0; }
}
