@charset "utf-8";

/*-----------------------------------------------------
Campus Page Style
------------------------------------------------------*/
#LowerMainvis { background-color: #e4f1e1; }
#LowerMainvis .LowerMainvisInner { background-image: url(/english/campus/images/mainvis_img.jpg); background-position:top right 96px; }


@media screen and (max-width: 768px){
    #LowerMainvis .LowerMainvisInner { background-position:top right; }
}
