<div id="Lside">
    <nav class="LsideNav">
        <ul class="LsideList">
            <li>
                <a href="/english/campus/student_support/" class="LsideAccordion AcoStudentSupport">Student Support<i>&#xe903;</i></a>
                <ul class="LsideSubList">
                    <li><a href="/english/campus/student_support/financial_aid.html">Financial Aid</a></li>
                    <li><a href="/english/campus/student_support/tutorial.html">Tutorial Program</a></li>
                    <li><a href="/english/campus/student_support/visa.html">Visa</a></li>
                </ul>
            </li>
            <li><a href="/english/campus/voices/" class="AcoVoices">Student Voices</a></li>
            <li>
                <a href="/english/campus/academic_calendar/" class="LsideAccordion AcoAcademicCalendar">Academic Calendar<i>&#xe903;</i></a>
                <ul class="LsideSubList">
                    <li><a href="/english/campus/academic_calendar/shonan.html">Shonan</a></li>
                    <li><a href="/english/campus/academic_calendar/yoyogi.html">Yoyogi</a></li>
                    <li><a href="/english/campus/academic_calendar/takanawa.html">Takanawa</a></li>
                    <li><a href="/english/campus/academic_calendar/isehara.html">Isehara</a></li>
                    <li><a href="/english/campus/academic_calendar/shimizu.html">Shimizu</a></li>
                    <li><a href="/english/campus/academic_calendar/sapporo.html">Sapporo</a></li>
                    <li><a href="/english/campus/academic_calendar/kumamoto.html">Kumamoto</a></li>
                    <li><a href="/english/campus/academic_calendar/aso.html">Aso</a></li>
                    <li><a href="/english/campus/academic_calendar/japanese_language_course.html">Japanese Language Course</a></li>
                </ul>
            </li>
            <li>
                <a href="/english/campus/campuses/" class="LsideAccordion AcoCampuses">Campuses<i>&#xe903;</i></a>
                <ul class="LsideSubList">
                    <li><a href="/english/campus/campuses/shonan.html">Shonan</a></li>
                    <li><a href="/english/campus/campuses/yoyogi.html">Yoyogi</a></li>
                    <li><a href="/english/campus/campuses/takanawa.html">Takanawa</a></li>
                    <li><a href="/english/campus/campuses/isehara.html">Isehara</a></li>
                    <li><a href="/english/campus/campuses/shimizu.html">Shimizu</a></li>
                    <li><a href="/english/campus/campuses/sapporo.html">Sapporo</a></li>
                    <li><a href="/english/campus/campuses/kumamoto.html">Kumamoto</a></li>
                    <li><a href="/english/campus/campuses/aso.html">Aso</a></li>
                </ul>
            </li>
        </ul>
    </nav><!-- /.LsideNav -->
    <div class="LsideDespList">
        <ul>
            <li><a href="/english/access.html"><img src="/english/common/images/lside_access.jpg" alt="Access &amp; Campuses!"></a></li>
        </ul>
    </div>
</div><!-- /#Lside -->
