<div id="Lside">
    <nav class="LsideNav">
        <ul class="LsideList">
            <li><a href="/english/research/list.html" class="AcoInstitutes">List of Research Institutes</a></li>
            <li>
                <a href="/english/research/tokai/" class="LsideAccordion AcoTokai">Research at Tokai<i>&#xe903;</i></a>
                <ul class="LsideSubList">
                    <li><a href="/english/research/tokai/excellence.html">Research Excellence</a></li>
                    <li><a href="/english/research/tokai/projects.html">Research Projects</a></li>
                </ul>
            </li>
            <li><a href="/english/research/seeds.html" class="AcoSeeds">Research Seeds</a></li>
        </ul>
    </nav><!-- /.LsideNav -->
</div><!-- /#Lside -->
