@charset "utf-8";

/*-----------------------------------------------------
About Page Style
------------------------------------------------------*/
#LowerMainvis { background-color: #bcdcef !important }
#LowerMainvis .LowerMainvisInner { position: relative }
#LowerMainvis .LowerMainvisInner .AboutMainvis { position: absolute; top: 0px; right: -60px }

.PageAbout .AboutTableTextR { text-align: right; }
.PageAbout table.TableStyle01 tbody td { border-width: 1px 1px 1px 0; }
.PageGovernance table.TableStyle01 tbody td { text-align: left; }

.TextBlock blockquote { background: url(../../about/images/bg_slash.png) 0 0 repeat; padding: 30px; margin: 0; }
.TextBlock blockquote h4 { font-size: 18px; font-weight: bold; color: #222222; padding-bottom: 27px; }
.TextBlock blockquote p.Text { font-size: 22px; color: #5e5e5e; }
.TextBlock blockquote p.TextQuote { display: inline; font-size: 22px; position: relative; text-align: center; color: #5e5e5e; }
.TextBlock blockquote p.TextQuote:before { content: ""; width: 21px; height: 21px; position: absolute; left: -42px; top: 1px; background: url(../../about/images/img_quote01.png); }
.TextBlock blockquote p.TextQuote:after { content: ""; width: 21px; height: 21px; position: absolute; right: -45px; bottom: 16px; background: url(../../about/images/img_quote02.png); }

/* Founder */
.BoxFounder blockquote { background: url(../../about/images/bg_slash.png) 0 0 repeat; padding: 26px 30px 21px 34px; margin: 0; }
.BoxFounder .BoxInner .BoxL { width: 84px; float: left; padding-top: 5px; }
.BoxFounder .BoxInner .BoxR { width: 597px; float: right; }
.BoxFounder .BoxInner p.TextL { font-size: 20px; line-height: 26px; margin-bottom: 7px; }

/* Spirit */
.TextBlock blockquote { padding: 18px 30px; text-align: center; }
.BoxSpirit .TextBold { font-size: 15px; font-weight: bold; margin-bottom: 27px; }
.TitleSpirit01 { font-size: 22px; color: #717171; margin-bottom: 17px;}
.BoxSpirit .BoxL { width: 419px; float: left; }
.BoxSpirit .BoxR { width: 328px; float: right; }

/* Greeting Style */
.PageGreetings .T4ClmBox.TypeB .ImgLeft { width: 180px; }
.PageGreetings .T4ClmBox.TypeB .TxtRight { width: 561px; position: relative; }
.PageGreetings .T4ClmBox .TxtRight .Tit { font-size: 22px; }
.PageGreetings .T4ClmBox > div { height: 220px; }
.PageGreetings .T4ClmBox.TypeB .MetaData { position: absolute; bottom: 0; left: 0; }
.PageGreetings .T4ClmBox.TypeB .MetaData p { font-size: 15px; color: #555; }
@media screen and (max-width:768px) {
	#LowerMainvis .LowerMainvisInner { background-image: url(../../about/images/mainvis_img.jpg); background-position: top right }

	.TextBlock blockquote { padding: 15px; }
	#FS .TextBlock blockquote { padding: 15px 20px; }
	.TextBlock blockquote p.Text { font-size: 16px; }
	.TextBlock blockquote p.TextQuote { font-size: 20px; }
	.TextBlock blockquote p.TextQuote:before,
	.TextBlock blockquote p.TextQuote:after { width: 16px; height: 16px; background-size:16px auto; -webkit-background-size:16px auto; }
	.TextBlock blockquote p.TextQuote:before { left: -16px; top:-6px; }
	.TextBlock blockquote p.TextQuote:after { right: -16px; bottom:8px; }
	.ClmBox.Clm5-5 .BoxL { width: 100%; }
	.ClmBox.Clm5-5 .BoxR { width: 100%; }
	.BoxFounder .BoxInner .BoxL { width: 84px; float: none; margin: 0 auto 10px auto; }
	.BoxFounder .BoxInner .BoxR { width: 100%; float: right; }
	.BoxSpirit .BoxL { width: 100%; }
	.BoxSpirit .BoxR { width: 100%; }

	/* Greeting Style */
	.PageGreetings .T4ClmBox.TypeB .ImgLeft, .PageGreetings .T4ClmBox.TypeB .TxtRight { width: auto!important; height: auto!important; float: none;}
	.PageGreetings .T4ClmBox.TypeB .TxtRight h4.Tit { font-size: 15px; margin: 10px 0; }
	.PageGreetings .T4ClmBox.TypeB .MetaData { position: static; }
	.PageGreetings .T4ClmBox.TypeB .MetaData p { font-size: 13px; line-height: 1.2; }

	/* International Style */
	.PageInternational table.TableCountry th { width: 75px; }
}
