@charset "utf-8";
/*-----------------------------------------------------
PageVisa style
------------------------------------------------------*/
.PageFinancialAid .LinkItem a.LinkUrl { word-break: break-word; }
.PageVisa .Wraning { color: #ff0000; }
.PageStudentSupport .LinkText li{ float:left;padding-left: 50px; }
.PageStudentSupport .LinkText li:first-child { padding-left: 0; }

@media screen and (max-width: 768px){
.PageStudentSupport .LinkText li{float: none;padding: 0;}