		<div id="Lside">
			<nav class="LsideNav">
				<ul class="LsideList">
					<li>
						<a href="/english/academics/undergraduate/" class="LsideAccordion AcoUnderGraduate">Undergraduate Schools<i>&#xe903;</i></a>
						<ul class="LsideSubList">
							<li><a href="/english/academics/undergraduate/letters.html">School of Letters</a></li>
							<li><a href="/english/academics/undergraduate/political_science_and_economics.html">School of Political Science and Economics</a></li>
							<li><a href="/english/academics/undergraduate/law.html">School of Law</a></li>
							<li><a href="/english/academics/undergraduate/humanities_and_culture.html">School of Humanities and Culture</a></li>
							<li><a href="/english/academics/undergraduate/physical_education.html">School of Physical Education</a></li>
							<li><a href="/english/academics/undergraduate/science.html">School of Science</a></li>
							<li><a href="/english/academics/undergraduate/information_science_and_technology.html">School of Information Science and Technology</a></li>
							<li><a href="/english/academics/undergraduate/engineering.html">School of Engineering</a></li>
							<li><a href="/english/academics/undergraduate/tourism.html">School of Tourism</a></li>
							<li><a href="/english/academics/undergraduate/information_and_Telecommunication_engineering.html">School of Information and Telecommunication Engineering</a></li>
							<li><a href="/english/academics/undergraduate/marine_science_and_technology.html">School of Marine Science and Technology</a></li>
							<li><a href="/english/academics/undergraduate/medicine.html">School of Medicine</a></li>
							<li><a href="/english/academics/undergraduate/health_sciences.html">School of Health Sciences</a></li>
							<li><a href="/english/academics/undergraduate/business_administration.html">School of Business Administration</a></li>
							<li><a href="/english/academics/undergraduate/industrial_and_welfare_engineering.html">School of Industrial and Welfare Engineering</a></li>
							<li><a href="/english/academics/undergraduate/agriculture.html">School of Agriculture</a></li>
							<li><a href="/english/academics/undergraduate/international_cultural_relations.html">School of International Cultural Relations</a></li>
							<li><a href="/english/academics/undergraduate/biological_science.html">School of Biological Science</a></li>
						</ul>
					</li>
					<li>
						<a href="/english/academics/graduate/" class="LsideAccordion AcoGraduate">Graduate Schools<i>&#xe903;</i></a>
						<ul class="LsideSubList">
							<li><a href="/english/academics/graduate/science_and_technology.html">School of Science and Technology</a></li>
							<li><a href="/english/academics/graduate/earth_and_environmental_sciences.html">School of Earth and Environmental Sciences</a></li>
							<li><a href="/english/academics/graduate/biosciences.html">School of Biosciences</a></li>
							<li><a href="/english/academics/graduate/letters.html">School of Letters</a></li>
							<li><a href="/english/academics/graduate/political_science.html">School of Political Science</a></li>
							<li><a href="/english/academics/graduate/economics.html">School of Economics</a></li>
							<li><a href="/english/academics/graduate/law.html">School of Law</a></li>
							<li><a href="/english/academics/graduate/human_environmental_studies.html">School of Human Environmental Studies</a></li>
							<li><a href="/english/academics/graduate/arts.html">School of Arts</a></li>
							<li><a href="/english/academics/graduate/physical_education.html">School of Physical Education</a></li>
							<li><a href="/english/academics/graduate/science.html">School of Science</a></li>
							<li><a href="/english/academics/graduate/engineering.html">School of Engineering</a></li>
							<li><a href="/english/academics/graduate/information_and_telecommunication_engineering.html">School of Information and Telecommunication Engineering</a></li>
							<li><a href="/english/academics/graduate/oceanography.html">School of Oceanography</a></li>
							<li><a href="/english/academics/graduate/medicine.html">School of Medicine</a></li>
							<li><a href="/english/academics/graduate/health_sciences.html">School of Health Sciences</a></li>
							<li><a href="/english/academics/graduate/industrial_engineering.html">School of Industrial Engineering</a></li>
							<li><a href="/english/academics/graduate/agriculture.html">School of Agriculture</a></li>
						</ul>
					</li>
					<li><a href="/english/academics/japanese_language_education.html" class="AcoJapaneseLanguageEducation">Japanese Language Education</a></li>
					<li><a href="/english/academics/minors.html" class="AcoMinors">Minors</a></li>
					<li><a href="/english/academics/other.html" class="AcoOther">Other Programs</a></li>
					<li><a href="/english/academics/degrees.html" class="AcoDegrees">Degrees, Credits and Grades</a></li>
				</ul>
			</nav><!-- /.LsideNav -->
			<div class="LsideDespList">
				<ul>
					<li><a href="/english/access.html"><img src="/english/common/images/lside_access.jpg" alt="Access &amp; Campuses!"></a></li>
				</ul>
			</div>
		</div><!-- /#Lside -->
