@charset "utf-8";

/*-----------------------------------------------------
Campus Page Style
------------------------------------------------------*/
#LowerMainvis { background-color: #dfc8a7; }
#LowerMainvis .LowerMainvisInner { background-image: url(/english/research/images/mainvis_img.jpg); background-position:top right 82px; }

@media screen and (max-width: 768px){
    #LowerMainvis .LowerMainvisInner { background-position:top right; }
}
