<!-- Include Footer Start -->
<div id="PageTop" class="active activeTop">
	<a href="#Top">&#xe902;</a>
</div><!-- /.TopPage -->

<footer id="Foot">

	<div class="FootNavArea">
		<div class="FootUpperArea PC cFix">
			<nav class="NavAbout">
				<div class="NavTitle">About Tokai</div>
				<ul class="NavList">
					<li><a href="/english/about/greetings.html">Greetings</a></li>
					<li><a href="/english/about/founder.html">Founder and Founding Spirit</a></li>
					<li><a href="/english/about/history.html">History</a></li>
					<li><a href="/english/about/today.html">Tokai Today</a></li>
					<li><a href="/english/about/mission.html">Mission and Philosophy</a></li>
					<li><a href="/english/about/governance.html">Governance and Organization</a></li>
					<li><a href="/english/about/facts.html">Facts and Figures</a></li>
					<li><a href="/english/about/international.html">International Exchange</a></li>
					<li><a href="/english/about/overseas.html">Overseas Offices</a></li>
					<li><a href="/english/about/guidelines.html">Guidelines</a></li>
				</ul>
			</nav><!-- /.NavAbout -->
			<nav class="NavAdmissions">
				<div class="NavTitle">Admissions</div>
				<ul class="NavList">
					<li><a href="/english/admissions/undergraduate.html">Undergraduate</a></li>
					<li><a href="/english/admissions/graduate/">Graduate</a></li>
					<li><a href="/english/admissions/japanese_language_course.html">Japanese Language Course</a></li>
					<li><a href="/english/admissions/exchange.html">Exchange Programs</a></li>
					<li><a href="/english/admissions/short-term.html">Short-term Programs</a></li>
				</ul>
			</nav><!-- /.NavAdmissions -->
			<nav class="NavAcademics">
				<div class="NavTitle">Academics</div>
				<ul class="NavList">
					<li><a href="/english/academics/undergraduate/">Undergraduate Schools</a></li>
					<li><a href="/english/academics/graduate/">Graduate Schools</a></li>
					<li><a href="/english/academics/japanese_language_education.html">Japanese Language Education</a></li>
					<li><a href="/english/academics/minors.html">Minors</a></li>
					<li><a href="/english/academics/other.html">Other Programs</a></li>
					<li><a href="/english/academics/degrees.html">Degrees, Credits and Grades</a></li>
					<li><a href="/english/academics/tuition_and_fees.html">Tuition and Fees</a></li>
				</ul>
			</nav><!-- /.NavAcademics -->
			<nav class="NavResearch">
				<div class="NavTitle">Research</div>
				<ul class="NavList">
					<li><a href="/english/research/list.html">List of Research Institutes</a></li>
					<li><a href="/english/research/tokai/">Research at Tokai</a></li>
					<li><a href="/english/research/seeds.html">Research Seeds</a></li>
					<li><a href="/english/research/visits/">Research Visits</a></li>
				</ul>
			</nav><!-- /.NavResearch -->
			<nav class="NavCampus">
				<div class="NavTitle">Campus Life</div>
				<ul class="NavList">
					<li><a href="/english/campus/student_support/">Student Support</a></li>
					<li><a href="/english/campus/student_life/">Student Life</a></li>
					<li><a href="/english/campus/voices/">Student Voices</a></li>
					<li><a href="/english/campus/academic_calendar/">Academic Calendar</a></li>
					<li><a href="/english/campus/campuses/">Campuses</a></li>
					<li><a href="/english/campus/outreach.html">Social Outreach</a></li>
					<li><a href="/english/campus/alumni.html">Alumni Associations</a></li>
				</ul>
			</nav><!-- /.NavCampus -->
		</div><!-- /.FootUpperArea.PC -->

		<div class="FootLowerArea cFix">
			<nav class="NavLeft PC cFix">
				<ul class="NavList">
					<li><a href="/english/news/">News and Announcements</a></li>
				</ul>
				<ul class="NavList">
					<li><a href="/english/faculty/">Faculty Directory</a></li>
				</ul>
			</nav><!-- /.NavLeft -->
			<nav class="NavRight">
				<ul class="cFix">
					<li><a href="/english/downloads.html" class="icon-Download">Downloads</a></li>
					<li><a href="/english/faq.html" class="icon-Faq">FAQ</a></li>
					<li><a href="/english/sitemap.html" class="icon-Sitemap">Sitemap</a></li>
					<li><a href="/english/access.html" class="icon-Access">Access</a></li>
					<li><a href="http://form.tokai.ac.jp/regist/is?SMPFORM=lhrc-qdker-8792d4fbb4e524e7bcc4f1334e5d819b" class="icon-Contact">Contact Us</a></li>
				</ul>
			</nav><!-- /.NavRight -->
		</div><!-- /.FootLowerArea -->
	</div><!-- /.FootNavArea -->

	<div class="FootInfo">
		<div class="FootInfoInner cFix">
			<nav class="SocialNav">
				<ul class="cFix">
					<li class="FbIcon"><a href="https://www.facebook.com/tokai.hiat.en" class="icon-Facebook" target="_blank"><span>Facebook</span></a></li>
					<li class="MovieIcon"><a href="https://www.youtube.com/user/tokaiuniv" class="icon-Movie" target="_blank"><span>Movie</span></a></li>
				</ul>
			</nav>
			<div class="InfoBlock">
				<address>Shonan Campus: 4-1-1 Kitakaname,<span class="PC_inline">&nbsp;</span><br class="SP">Hiratsuka-shi, Kanagawa 259-1292</address>
				<small>Copyright &copy; Tokai University. All rights reserved.</small>
			</div>
		</div>
	</div><!-- /#FootInfo -->

</footer><!-- /#Foot -->
<!-- Include Footer End -->
