<!-- Include Header Start -->
<header id="Head">
	<div class="HeadInner cFix">
		<div id="SpMenuBtn" class="SP"><a href="javascript:void(0)"><i></i></a></div><!-- /.SpMenuBtn SP -->
		<div class="LogoArea">
			<h1><a href="/english/"><img src="/english/common/images/head_logo.png" alt="TOKAI UNIVERSITY"></a></h1>
		</div>
		<div class="HeadNavWrap cFix">
			<div class="HeadNavSlide">
				<div class="HeadNavSlideInner cFix">
					<div class="LanguageAndSearch">
						<div class="LanguageSelect">
							<div class="SelectBtn"><a href="javascript:void(0)" class="NavAcd icon-after-ArrowDown">Language</a></div>
							<ul class="LanguageList">
								<li class="en"><a href="/english/" target="_blank">English</a></li>
								<li><a href="http://www.u-tokai.ac.jp/" target="_blank">日本語</a></li>
								<li><a href="/chinese/" target="_blank">Chinese</a></li>
								<li><a href="/korean/" target="_blank">Korean</a></li>
								<li><a href="http://www.u-tokaiasean.com/" target="_blank">Thai</a></li>
							</ul>
						</div><!-- /.LanguageSelect -->
					</div><!-- /#LanguageAndSearch -->
					<nav class="HeadNav">
						<ul class="NavParent cFix">
							<li class="Student ParentLi">
								<a href="javascript:void(0)" class="NavAcd icon-Student icon-after-ArrowDown"><span>Current <br class="SP">student</span></a>
								<ul class="NavChild">
									<li><a href="/english/news/">News and Announcements</a></li>
									<li><a href="/english/campus/academic_calendar/">Academic Calendar</a></li>
									<li><a href="/english/academics/degrees.html">Degrees, Credits and Grades</a></li>
									<li><a href="/english/campus/student_life/">Student Life</a></li>
									<li><a href="/english/campus/student_support/financial_aid.html">Financial Aid</a></li>
									<li><a href="/english/campus/student_support/visa.html">Visa</a></li>
									<li><a href="/english/campus/student_support/career_support.html">Career Support</a></li>
									<li><a href="/english/campus/student_life/activities.html">Student Activities</a></li>
									<li><a href="/english/campus/outreach.html">Social Outreach</a></li>
									<li><a href="/english/campus/alumni.html">Alumni Associations</a></li>
									<li><a href="/english/campus/campuses/">Campuses</a></li>
								</ul><!-- /.NavChild -->
							</li>
							<li class="Alumni ParentLi">
								<a href="javascript:void(0)" class="NavAcd icon-Alumni icon-after-ArrowDown">Alumni</a>
								<ul class="NavChild">
									<li><a href="/english/about/greetings.html">Greetings</a></li>
									<li><a href="/english/about/today.html">Tokai Today</a></li>
									<li><a href="/english/news/">News and Announcements</a></li>
									<li><a href="/english/campus/alumni.html">Alumni Associations</a></li>
									<li><a href="/english/academics/degrees.html">Degrees, Credits and Grades</a></li>
								</ul><!-- /.NavChild -->
							</li>
							<li class="PC"><a href="/english/access.html" class="icon-Access">Access</a></li>
						</ul><!-- /.NavParent -->
					</nav><!-- /.HeadNav -->
				</div><!-- /.HeadNavSlideInner -->
			</div><!-- /.HeadNavSlide -->
		</div><!-- /.HeadNavWrap -->
		<div id="SearchBox">
			<form action="http://search-en.u-tokai.ac.jp/search.x">
				<input type="search" name="q" id="MF_form_phrase" autocomplete="off" placeholder="Search" class="HeadSearchInput" />
				<input type="hidden" name="ie" value="utf8" />
				<button type="submit" class="HeadSearchSubmit">&#xe906;</button>
			</form>
		</div><!-- /#SearchBox -->
		<div id="SpSearchBtn" class="SP"><a href="javascript:void(0)">&#xe906;</a></div><!-- /.SpSearchBtn SP -->
	</div><!-- /.HeadInner -->

	<nav id="GlobalNav">
		<div class="GlobalNavInner">
			<ul class="NavParent cFix">
				<li class="active">
					<a href="javascript:void(0)" class="NavAco"><i class="line"></i>About Tokai</a>
					<nav class="MegaNav">
						<ul class="cFix">
							<li><a href="/english/about/greetings.html" class="icon-after-ArrowRight">Greetings</a></li>
							<li><a href="/english/about/founder.html" class="icon-after-ArrowRight">Founder and Founding Spirit</a></li>
							<li><a href="/english/about/history.html" class="icon-after-ArrowRight">History</a></li>
							<li><a href="/english/about/today.html" class="icon-after-ArrowRight">Tokai Today</a></li>
						</ul>
						<ul class="cFix">
							<li><a href="/english/about/mission.html" class="icon-after-ArrowRight">Mission and Philosophy</a></li>
							<li><a href="/english/about/governance.html" class="icon-after-ArrowRight">Governance and Organization</a></li>
							<li><a href="/english/about/facts.html" class="icon-after-ArrowRight">Facts and Figures</a></li>
							<li><a href="/english/about/international.html" class="icon-after-ArrowRight">International Exchange</a></li>
						</ul>
						<ul class="cFix">
							<li><a href="/english/about/overseas.html" class="icon-after-ArrowRight">Overseas Offices</a></li>
							<li><a href="/english/about/guidelines.html" class="icon-after-ArrowRight">Guidelines</a></li>
						</ul>
					</nav>
				</li>
				<li class="active">
					<a href="javascript:void(0)" class="NavAco">Admissions</a>
					<nav class="MegaNav">
						<ul class="cFix">
							<li><a href="/english/admissions/undergraduate.html" class="icon-after-ArrowRight">Undergraduate</a></li>
							<li>
								<a href="/english/admissions/graduate/" class="icon-after-ArrowRight NavAco">Graduate<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/admissions/graduate/d01.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/d02.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/d03.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m05.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/d04.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m06.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/d05.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m07.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/d06.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m08.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/d07.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m09.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m10.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m13.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m11.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m12.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m04.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m17.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m14.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/d08.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m15.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m18.html" class="icon-after-ArrowRight">xxxxx</a></li>
									<li><a href="/english/admissions/graduate/m19.html" class="icon-after-ArrowRight">xxxxx</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
							<li><a href="/english/admissions/japanese_language_course.html" class="icon-after-ArrowRight">Japanese Language Course</a></li>
							<li><a href="/english/admissions/exchange.html" class="icon-after-ArrowRight">Exchange Programs</a></li>
						</ul>
						<ul class="cFix">
							<li><a href="/english/admissions/short-term.html" class="icon-after-ArrowRight">Short-term Programs</a></li>
						</ul>
					</nav>
				</li>
				<li class="active">
					<a href="javascript:void(0)" class="NavAco">Academics</a>
					<nav class="MegaNav">
						<ul class="cFix">
							<li>
								<a href="/english/academics/undergraduate/" class="icon-after-ArrowRight NavAco">Undergraduate Schools<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/academics/undergraduate/letters.html" class="icon-after-ArrowRight">School of Letters</a></li>
									<li><a href="/english/academics/undergraduate/political_science_and_economics.html" class="icon-after-ArrowRight">School of Political Science and Economics</a></li>
									<li><a href="/english/academics/undergraduate/law.html" class="icon-after-ArrowRight">School of Law</a></li>
									<li><a href="/english/academics/undergraduate/humanities_and_culture.html" class="icon-after-ArrowRight">School of Humanities and Culture</a></li>
									<li><a href="/english/academics/undergraduate/physical_education.html" class="icon-after-ArrowRight">School of Physical Education</a></li>
									<li><a href="/english/academics/undergraduate/science.html" class="icon-after-ArrowRight">School of Science</a></li>
									<li><a href="/english/academics/undergraduate/information_science_and_technology.html" class="icon-after-ArrowRight">School of Information Science and Technology</a></li>
									<li><a href="/english/academics/undergraduate/engineering.html" class="icon-after-ArrowRight">School of Engineering</a></li>
									<li><a href="/english/academics/undergraduate/tourism.html" class="icon-after-ArrowRight">School of Tourism</a></li>
									<li><a href="/english/academics/undergraduate/information_and_Telecommunication_engineering.html" class="icon-after-ArrowRight">School of Information and Telecommunication Engineering</a></li>
									<li><a href="/english/academics/undergraduate/marine_science_and_technology.html" class="icon-after-ArrowRight">School of Marine Science and Technology</a></li>
									<li><a href="/english/academics/undergraduate/medicine.html" class="icon-after-ArrowRight">School of Medicine</a></li>
									<li><a href="/english/academics/undergraduate/health_sciences.html" class="icon-after-ArrowRight">School of Health Sciences</a></li>
									<li><a href="/english/academics/undergraduate/business_administration.html" class="icon-after-ArrowRight">School of Business Administration</a></li>
									<li><a href="/english/academics/undergraduate/industrial_and_welfare_engineering.html" class="icon-after-ArrowRight">School of Industrial and Welfare Engineering</a></li>
									<li><a href="/english/academics/undergraduate/agriculture.html" class="icon-after-ArrowRight">School of Agriculture</a></li>
									<li><a href="/english/academics/undergraduate/international_cultural_relations.html" class="icon-after-ArrowRight">School of International Cultural Relations</a></li>
									<li><a href="/english/academics/undergraduate/biological_science.html" class="icon-after-ArrowRight">School of Biological Science</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
							<li>
								<a href="/english/academics/graduate/" class="icon-after-ArrowRight NavAco">Graduate Schools<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/academics/graduate/science_and_technology.html" class="icon-after-ArrowRight">School of Science and Technology</a></li>
									<li><a href="/english/academics/graduate/earth_and_environmental_sciences.html" class="icon-after-ArrowRight">School of Earth and Environmental Sciences</a></li>
									<li><a href="/english/academics/graduate/biosciences.html" class="icon-after-ArrowRight">School of Biosciences</a></li>
									<li><a href="/english/academics/graduate/letters.html" class="icon-after-ArrowRight">School of Letters</a></li>
									<li><a href="/english/academics/graduate/political_science.html" class="icon-after-ArrowRight">School of Political Science</a></li>
									<li><a href="/english/academics/graduate/economics.html" class="icon-after-ArrowRight">School of Economics</a></li>
									<li><a href="/english/academics/graduate/law.html" class="icon-after-ArrowRight">School of Law</a></li>
									<li><a href="/english/academics/graduate/human_environmental_studies.html" class="icon-after-ArrowRight">School of Human Environmental Studies</a></li>
									<li><a href="/english/academics/graduate/arts.html" class="icon-after-ArrowRight">School of Arts</a></li>
									<li><a href="/english/academics/graduate/physical_education.html" class="icon-after-ArrowRight">School of Physical Education</a></li>
									<li><a href="/english/academics/graduate/science.html" class="icon-after-ArrowRight">School of Science</a></li>
									<li><a href="/english/academics/graduate/engineering.html" class="icon-after-ArrowRight">School of Engineering</a></li>
									<li><a href="/english/academics/graduate/information_and_telecommunication_engineering.html" class="icon-after-ArrowRight">School of Information and Telecommunication Engineering</a></li>
									<li><a href="/english/academics/graduate/oceanography.html" class="icon-after-ArrowRight">School of Oceanography</a></li>
									<li><a href="/english/academics/graduate/medicine.html" class="icon-after-ArrowRight">School of Medicine</a></li>
									<li><a href="/english/academics/graduate/health_sciences.html" class="icon-after-ArrowRight">School of Health Sciences</a></li>
									<li><a href="/english/academics/graduate/industrial_engineering.html" class="icon-after-ArrowRight">School of Industrial Engineering</a></li>
									<li><a href="/english/academics/graduate/agriculture.html" class="icon-after-ArrowRight">School of Agriculture</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
							<li><a href="/english/academics/japanese_language_education.html" class="icon-after-ArrowRight">Japanese Language Education</a></li>
							<li><a href="/english/academics/minors.html" class="icon-after-ArrowRight">Minors</a></li>
						</ul>
						<ul class="cFix">
							<li><a href="/english/academics/other.html" class="icon-after-ArrowRight">Other Programs</a></li>
							<li><a href="/english/academics/degrees.html" class="icon-after-ArrowRight">Degrees, Credits and Grades</a></li>
							<li><a href="/english/academics/tuition_and_fees.html" class="icon-after-ArrowRight">Tuition and Fees</a></li>
						</ul>
					</nav>
				</li>
				<li class="active">
					<a href="javascript:void(0)" class="NavAco">Research</a>
					<nav class="MegaNav">
						<ul class="cFix">
							<li><a href="/english/research/list.html" class="icon-after-ArrowRight">List of Research Institutes</a></li>
							<li>
								<a href="/english/research/tokai/" class="icon-after-ArrowRight NavAco">Research at Tokai<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/research/tokai/excellence.html" class="icon-after-ArrowRight">Research Excellence</a></li>
									<li><a href="/english/research/tokai/labs/" class="icon-after-ArrowRight">Labs and People</a></li>
									<li><a href="/english/research/tokai/projects.html" class="icon-after-ArrowRight">Research Projects</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
							<li><a href="/english/research/seeds.html" class="icon-after-ArrowRight">Research Seeds</a></li>
							<li>
								<a href="/english/research/visits/" class="icon-after-ArrowRight NavAco">Research Visits<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/research/visits/exchange_researchers.html" class="icon-after-ArrowRight">For Exchange Researchers</a></li>
									<li><a href="/english/research/visits/visa_for_exchange_researchers.html" class="icon-after-ArrowRight">Visa for Exchange Researchers</a></li>
									<li><a href="/english/research/visits/short_stay_visa.html" class="icon-after-ArrowRight">Short Stay Visa</a></li>
									<li><a href="/english/research/visits/international_researchers.html" class="icon-after-ArrowRight">For New International Researchers</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
						</ul>
					</nav>
				</li>
				<li class="active">
					<a href="javascript:void(0)" class="NavAco">Campus life</a>
					<nav class="MegaNav">
						<ul class="cFix">
							<li>
								<a href="/english/campus/student_support/" class="icon-after-ArrowRight NavAco">Student Support<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/campus/student_support/financial_aid.html" class="icon-after-ArrowRight">Financial Aid</a></li>
									<li><a href="/english/campus/student_support/tutorial.html" class="icon-after-ArrowRight">Tutorial Program</a></li>
									<li><a href="/english/campus/student_support/healthcare.html" class="icon-after-ArrowRight">Healthcare</a></li>
									<li><a href="/english/campus/student_support/prayer_room_and_halal_food.html" class="icon-after-ArrowRight">Prayer Room &amp; Halal Food</a></li>
									<li><a href="/english/campus/student_support/visa.html" class="icon-after-ArrowRight">Visa</a></li>
									<li><a href="/english/campus/student_support/career_support.html" class="icon-after-ArrowRight">Career Support</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
							<li>
								<a href="/english/campus/student_life/" class="icon-after-ArrowRight NavAco">Student Life<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/campus/student_life/housing.html" class="icon-after-ArrowRight">Housing</a></li>
									<li><a href="/english/campus/student_life/university_festival.html" class="icon-after-ArrowRight">University Festival</a></li>
									<li><a href="/english/campus/student_life/international_fair.html" class="icon-after-ArrowRight">International Fair</a></li>
									<li><a href="/english/campus/student_life/clubs.html" class="icon-after-ArrowRight">Clubs &amp; Organizations</a></li>
									<li><a href="/english/campus/student_life/activities.html" class="icon-after-ArrowRight">Student Activities</a></li>
									<li><a href="/english/campus/student_life/around_shonan_campus.html" class="icon-after-ArrowRight">Around Shonan Campus</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
							<li><a href="/english/campus/voices/" class="icon-after-ArrowRight">Student Voices</a></li>
							<li>
								<a href="/english/campus/academic_calendar/" class="icon-after-ArrowRight NavAco">Academic Calendar<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/campus/academic_calendar/shonan.html" class="icon-after-ArrowRight">Shonan</a></li>
									<li><a href="/english/campus/academic_calendar/yoyogi.html" class="icon-after-ArrowRight">Yoyogi</a></li>
									<li><a href="/english/campus/academic_calendar/takanawa.html" class="icon-after-ArrowRight">Takanawa</a></li>
									<li><a href="/english/campus/academic_calendar/isehara.html" class="icon-after-ArrowRight">Isehara</a></li>
									<li><a href="/english/campus/academic_calendar/shimizu.html" class="icon-after-ArrowRight">Shimizu</a></li>
									<li><a href="/english/campus/academic_calendar/sapporo.html" class="icon-after-ArrowRight">Sapporo</a></li>
									<li><a href="/english/campus/academic_calendar/kumamoto.html" class="icon-after-ArrowRight">Kumamoto</a></li>
									<li><a href="/english/campus/academic_calendar/aso.html" class="icon-after-ArrowRight">Aso</a></li>
									<li><a href="/english/campus/academic_calendar/japanese_language_course.html" class="icon-after-ArrowRight">Japanese Language Course</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
						</ul>
						<ul class="cFix">
							<li>
								<a href="/english/campus/campuses/" class="icon-after-ArrowRight NavAco">Campuses<i class="SP">&#xe903;</i></a>
								<ul class="NavGrandChild">
									<li><a href="/english/campus/campuses/shonan.html" class="icon-after-ArrowRight">Shonan</a></li>
									<li><a href="/english/campus/campuses/yoyogi.html" class="icon-after-ArrowRight">Yoyogi</a></li>
									<li><a href="/english/campus/campuses/takanawa.html" class="icon-after-ArrowRight">Takanawa</a></li>
									<li><a href="/english/campus/campuses/isehara.html" class="icon-after-ArrowRight">Isehara</a></li>
									<li><a href="/english/campus/campuses/shimizu.html" class="icon-after-ArrowRight">Shimizu</a></li>
									<li><a href="/english/campus/campuses/sapporo.html" class="icon-after-ArrowRight">Sapporo</a></li>
									<li><a href="/english/campus/campuses/kumamoto.html" class="icon-after-ArrowRight">Kumamoto</a></li>
									<li><a href="/english/campus/campuses/aso.html" class="icon-after-ArrowRight">Aso</a></li>
								</ul><!-- /.NavGrandChild -->
							</li>
							<li><a href="/english/campus/outreach.html" class="icon-after-ArrowRight">Social Outreach</a></li>
							<li><a href="/english/campus/alumni.html" class="icon-after-ArrowRight">Alumni Associations</a></li>
						</ul>
					</nav>
				</li>
			</ul><!-- /.NavParent -->
		</div><!-- /.GlobalNavInner -->
	</nav><!-- /#GlobalNav -->
</header><!-- /#Head -->
<!-- Include Header End -->
