@charset "utf-8";

/*-----------------------------------------------------
downloads Style
------------------------------------------------------*/
#LowerMainvis { background-color: #d3ddf3; }
#LowerMainvis .LowerMainvisInner { background-image: url(/english/images/access/mainvis_img.jpg); background-position:top right 136px; }

#ContWrap { }

#Main .MainInner { padding: 47px 0 70px; }
#Main .MainInner .AccessMap { width: 1100px; height: 580px; background: url(../images/access/map_img_pc.jpg); position: relative; }
#Main .MainInner .MapAnchorLink>div { position: absolute; left:50%; }
#Main .MainInner .MapAnchorLink>div a { display:block; }
#Main .MainInner .MapAnchorLink>div a span.icon-AcuteTriangleDown { display:block; position: relative; padding-left:16px; }
#Main .MainInner .MapAnchorLink>div a span.icon-AcuteTriangleDown:before { position: absolute; font-size: 8px; color: #f8b84a; left: 0px; top: 15px; }

.PageAccess .ClmBox.Clm5-5 .BoxL { width: 530px; float: left; }
.PageAccess .ClmBox.Clm5-5 .BoxR { width: 530px; float: right; }
.PageAccess .map { width: 530px; height: 450px; }
.PageAccess .BoxStyle figure.ImgBox .ImgCap { background-color: #fff; }
.PageAccess .DownLoadList { float: left; margin-right: 10px; }
.PageAccess .TitleStyleAccess { font-size: 15px; font-weight: bold; color: #222; }
.PageAccess .BtnList { float: right; }
.PageAccess .Lang { width: 80px; border: 1px solid #d8d8d8; padding: 1px 8px; margin: 0 0 0 10px; display: inline-block; }

@media screen and (min-width: 769px){
    #Main .MainInner .MapAnchorLink>div { display:inline-block; background-color: #054488; transition: background-color .3s; }
    #Main .MainInner .MapAnchorLink>div a { dheight: 35px; position: relative; font-size: 17px; color: #fff; line-height:35px; letter-spacing: 1px; padding:0 20px; }
    #Main .MainInner .MapAnchorLink>div:hover { background-color: #0066cb; }
    #Main .MainInner .MapAnchorLink>div a img { display:none; }
    #Main .MainInner .MapAnchorLink .BtnSapporo { top: 53px;margin-left: -103px; }
    #Main .MainInner .MapAnchorLink .BtnShonan { top: 135px;margin-left: -121px; }
    #Main .MainInner .MapAnchorLink .BtnAso { top: 229px;margin-left: -271px; }
    #Main .MainInner .MapAnchorLink .BtnYoyogi { top: 283px;margin-left: 244px; }
    #Main .MainInner .MapAnchorLink .BtnTakanawa { top: 338px;margin-left: 196px; }
    #Main .MainInner .MapAnchorLink .BtnKumamoto { top: 419px;margin-left: -510px; }
    #Main .MainInner .MapAnchorLink .BtnIsehara { top: 443px;margin-left: 97px; }
    #Main .MainInner .MapAnchorLink .BtnShimizu { top: 492px;margin-left: -112px; }

}
@media screen and (max-width: 768px){
    #LowerMainvis .LowerMainvisInner { background-position:top right; }
    #ContWrap { width:88.5%; margin:0 auto; }

    #Main .MainInner .MapBg { width: 100%; }
    #Main .MainInner .AccessMap { width: 100%; height: auto; background: none; }

    #Main .MainInner .MapAnchorLink>div { top:0 !important; }
    #Main .MainInner .MapAnchorLink>div a span.icon-AcuteTriangleDown { display:none; }
    #Main .MainInner .MapAnchorLink .BtnSapporo { width: 45%;margin: -0.6% 0 0 -10%; }
    #Main .MainInner .MapAnchorLink .BtnShonan { width: 45%;margin: 20.2% 0 0 -43.6%; }
    #Main .MainInner .MapAnchorLink .BtnAso { width: 38.6%;margin: 33% 0 0 -51%; }
    #Main .MainInner .MapAnchorLink .BtnYoyogi { width: 40%;margin: 37.5% 0 0 12%; }
    #Main .MainInner .MapAnchorLink .BtnTakanawa { width: 45%;margin: 54.6% 0 0 6.6%; }
    #Main .MainInner .MapAnchorLink .BtnKumamoto { width: 48%;margin: 85% 0 0 -51%; }
    #Main .MainInner .MapAnchorLink .BtnIsehara { width: 45%;margin: 65% 0 0 2%; }
    #Main .MainInner .MapAnchorLink .BtnShimizu { width: 45%;margin: 74.7% 0 0 -30%; }

    .PageAccess .ClmBox.Clm5-5 .BoxL { width: 100%; }
    .PageAccess .ClmBox.Clm5-5 .BoxR { width: 100%; }
    .PageAccess .BoxStyle figure.ImgBox { height: 50%; }
    .PageAccess .map { width: 100%; height: 350px; }

}

@media screen and (max-width: 557px){
    .PageAccess .Lang { margin: 0 0 0 5px; }
}
@media screen and (max-width:384px) {
    .PageAccess .Lang { display: block; margin: 10px 0 0 0; }
}
