@charset "utf-8";

/*-----------------------------------------------------
downloads Style
------------------------------------------------------*/
/*Main */
#LowerMainvis { background-color:#f6e2be; }
#LowerMainvis .LowerMainvisInner { background-color:#f6e2be; background-image: url(/english/images/downloads/mainvis_img.jpg); }
#Main .MainInner { padding: 60px 0 70px; }

/*ContWrap Style */
.DlBoxLists { margin-bottom: 27px; }

@media screen and (max-width: 769px){
#Main .MainInner { width:91.145%; margin:0 auto; }
}


@media screen and (max-width: 667px){
#LowerMainvis { height: auto; }
#LowerMainvis .MainvisInner { width:88.5%; }
#LowerMainvis h2 { font-size:20px; line-height:30px; }
#Main .MainInner { width:88.5%; margin:0 auto; }
}
