/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus { outline: none; }
.Slides, .Slides > li,
.flex-control-nav,
.flex-direction-nav { padding: 0;  margin: 0; list-style: none; }
.flex-pauseplay span { text-transform: capitalize; }
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.FlexSlider { padding: 0;  margin: 0; }
@media screen and (min-width: 769px){
	.FlexSlider .Slides > li { display: none; height:474px; position:relative; background-repeat:no-repeat; background-position:center center; background-size:cover; -webkit-backface-visibility: hidden; }
	.FlexSlider .Slides > li img.MainvisTit { display:inline; width:auto; position:absolute; top:0; left:50%; margin-left:10px; }
	.FlexSlider .Slides > li.Slide01 { background-image:url(/english/images/home/mainvis_01.jpg); }
	.FlexSlider .Slides > li.Slide01 img.MainvisTit { top:74px; margin-left:-552px; }
	.FlexSlider .Slides > li.Slide02 { background-image:url(/english/images/home/mainvis_02.jpg); }
	.FlexSlider .Slides > li.Slide02 img.MainvisTit { top:147px; margin-left:-306px; }
	.FlexSlider .Slides > li.Slide03 { background-image:url(/english/images/home/mainvis_03.jpg); }
	.FlexSlider .Slides > li.Slide03 img.MainvisTit { top:-82px; margin-left:-682px; }
	.FlexSlider .Slides > li.Slide04 { background-image:url(/english/images/home/mainvis_04.jpg); background-position:center -10px; }
	.FlexSlider .Slides > li.Slide04 img.MainvisTit { top:162px; margin-left:-341px; }
}
.FlexSlider .Slides img { width: 100%; }
.FlexSlider .Slides:after { }
html[xmlns] .FlexSlider .Slides { display: block; }
* html .FlexSlider .Slides { height: 1%; }
.no-js .FlexSlider .Slides > li:first-child { display: block; }
@media screen and (min-width: 769px) and (max-width: 1500px){
.FlexSlider .Slides > li.Slide01 img.MainvisTit { width:577px; }
.FlexSlider .Slides > li.Slide02 img.MainvisTit { width:488px; top:165px; margin-left:-242px; }
.FlexSlider .Slides > li.Slide03 img.MainvisTit { width:641px; top:-30px; margin-left:-657px; }
.FlexSlider .Slides > li.Slide04 img.MainvisTit { width:549px; top:174px; margin-left:-273px; }
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.FlexSlider { position: relative; background: #ffffff; zoom: 1;  margin: 0 auto; }
.FlexSlider .Slides { zoom: 1; }
.FlexSlider .Slides img { height: auto; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.carousel li { margin-right: 5px; }
.flex-direction-nav { display: none;  *height: 0; }
.flex-control-nav { width: 100%; position: absolute; bottom: -25px; line-height: 1; text-align: center; }
.flex-control-nav li { display: inline-block; zoom: 1;  margin: 0 4px; *display: inline; }
.flex-control-paging li a { display: block;  width: 14px; height: 14px; background: #dcdcdc; background: rgba(0, 0, 0, 0.5); -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; cursor: pointer; text-indent: -9999px; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }
.flex-control-paging li a.flex-active { background: #054488; cursor: default; }
.flex-control-thumbs { position: static; overflow: hidden;  margin: 5px 0 0; }
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.flex-control-thumbs img { display: block;  width: 100%; height: auto; cursor: pointer; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; opacity: 0.7; }
.flex-control-thumbs img:hover { opacity: 1; }
.flex-control-thumbs .flex-active { cursor: default;  opacity: 1; }
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 767px) {
	.flex-control-nav { bottom: -15%; }
}
