@charset "UTF-8";
#Main .MainInner { width: 100%; max-width: 1100px; margin: 0 auto; padding-top: 42px; }
#PageTop { margin-top:-29px; }

[class^="label-after"]:after, [class*=" label-after"]:after { display: inline-block; color: #fff; font-size: 12px; line-height: 1; padding: 4px 7px; font-weight: normal; position: relative; top: -2px; margin-left: 0.5rem; }

.label-after-News:after { content: "News"; background-color: #098590; }

.label-after-Events:after { content: "Events"; background-color: #356892; }

.label-after-PressRelease:after { content: "Press Release"; background-color: #124066; }

#Alert { width: 100%; max-width: 1100px; margin: 0 auto; padding: 13px 0; }
#Alert .AlertBox { border-top:solid 2px #f2b5b5; }
#Alert .AlertBox:first-child { border-top:none; }
#Alert .AlertInner { background: #e40f0f; padding: 21px 25px 11px; position: relative; }
#Alert .TitEN { position:relative; }
#Alert .TitEN:before { content: ''; width: 26px; height: 26px; background: url(../images/home/emergency_icon.png) 0 0 no-repeat; display: inline-block; position: absolute; left: 0; top: 50%; margin-top: -13px; }
#Alert .TitEN h2 { width:auto; float:left; font-size:22px; color:#fff; font-weight:bold; letter-spacing: 1px; padding-left:37px; margin-right:18px; }
#Alert .TitEN .MoreBtn { width:auto; float:left; position:relative; top:4px; }
#Alert .TitEN .MoreBtn a { display: inline-block; background-color: #a51313; color:#fff; padding:2px 11px; transition: background .3s; }
#Alert .TitEN .MoreBtn a:hover { background-color: #931414; }
#Alert .TitEN .MoreBtn a:after { position:relative; top:1px; font-size:10px; margin-left:6px; }
#Alert .Entries { }
#Alert .Entry { border-bottom:solid 1px #f26767; padding:11px 0 10px; }
#Alert .Entry:last-child { border-bottom:none; }
#Alert .Entry .TitLocation { font-size:17px; font-weight:bold; color:#fff; margin-bottom: 1px; }

#Alert .AlertList .AlertListItem { font-size: 14px; font-weight: bold; color: #FFF; padding-bottom:4px; }
#Alert .AlertList .AlertListItem .Date { width:110px; float: left; position: relative; font-weight:bold; }
#Alert .AlertList .AlertListItem .Tit { letter-spacing: 0.2px; margin-left:115px; }
#Alert .AlertList .AlertListItem .Tit a { display:inline-block; color: #FFF; }
#Alert .AlertList .AlertListItem .Tit a:hover { text-decoration: underline; }
#Alert .AlertList .AlertListItem:after { display: block; content: ""; clear: both; height: 0; font-size: 0; visibility: hidden; }

#AlertDefault { clear: both; margin-bottom: 19px; }
#AlertDefault .AlertDefaultInner { width: 100%; max-width: 1100px; margin: 0 auto; position: relative; background: #efe9da; padding: 18px 30px 19px; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem { font-size: 14px; color: #222222; padding: 8px 0; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem .AlertDefaultDate { width: 15.38462%; float: left; font-size: 15px; margin-right: 1rem; position: relative; padding-left: 50px; font-weight: bold; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem .AlertDefaultDate:before { content: ''; width: 32px; height: 26px; background: url(../images/home/alert_icon.png) 0 0 no-repeat; display: inline-block; position: absolute; left: 0; top: 50%; margin-top: -13px; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem .AlertDefaultText { width: 63.17308%; float: left; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem .AlertDefaultText a { color: #222; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem .AlertDefaultText a:hover { text-decoration: underline; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem:after { display: block; content: ""; clear: both; height: 0; font-size: 0; visibility: hidden; }
#AlertDefault .AlertDefaultDetailBtn { display: inline-block; background: #efe9da; border: 1px solid #aeaeae; line-height: 1; padding: 7px 20px 8px; color: #222222; position: absolute; right: 30px; top: 22px; }
#AlertDefault .AlertDefaultDetailBtn:hover { background: #eba442; color: #FFF; border-color: #eba442; }
#AlertDefault .AlertDefaultDetailBtn:hover i { color: #FFF; }
#AlertDefault .AlertDefaultDetailBtn i { font-size: 10px; margin-left: 0.5rem; color: #eba442; }

.MainPanelList { display: table; width: 100%; overflow: hidden; min-height: 200px; }
.MainPanelList .MainPanelListItem { display: table-cell; vertical-align: middle; }
.MainPanelList .MainPanelListItem a { display: block; position: relative; text-decoration: none; padding: 4.6% 0 8.35% 6.2%; min-height: 200px; background-color: transparent; -moz-transition: background-color 0.2s; -o-transition: background-color 0.2s; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; }
.MainPanelList .MainPanelListItem a:hover { background-color: rgba(0, 0, 0, 0.3); }
.MainPanelList .MainPanelListItem .ListItemImage { overflow: hidden; background: #000; position: relative; }
.MainPanelList .MainPanelListItem .ListItemDetail .PanelTitle { color: #FFF; font-size: 23px; line-height: 26px; font-weight: bold; position: relative; padding-bottom: 16px; margin-bottom: 12px; }
.MainPanelList .MainPanelListItem .ListItemDetail .PanelTitle::after { content: ''; width: 110px; height: 1px; position: absolute; left: 0; bottom: 0; background: #fbb34d; }
.MainPanelList .MainPanelListItem .ListItemDetail .PanelText { color: #FFF; font-size: 15px; line-height: 1.1; }
.MainPanelList .MainPanelListItem .ListItemDetail .PanelTextMore { color: #fbb34d; font-size: 17px; }
.MainPanelList .MainPanelListItem.ListItem01 { width: 33.27272727272727%; background: url(/english/images/home/panel_img_01.jpg) center center no-repeat; background-size: auto 100%; -moz-transition: background-size 0.2s; -o-transition: background-size 0.2s; -webkit-transition: background-size 0.2s; transition: background-size 0.2s; }
.MainPanelList .MainPanelListItem.ListItem02 { width: 33.36363636363636%; background: url(/english/images/home/panel_img_02.jpg) center center no-repeat; background-size: auto 100%; -moz-transition: background-size 0.2s; -o-transition: background-size 0.2s; -webkit-transition: background-size 0.2s; transition: background-size 0.2s; }
.MainPanelList .MainPanelListItem.ListItem02 .PanelText { text-shadow: 1px 1px 24px #528319; }
.MainPanelList .MainPanelListItem.ListItem03 { width: 33.36363636363636%; background: url(/english/images/home/panel_img_03.jpg) center center no-repeat; background-size: auto 100%; -moz-transition: background-size 0.2s; -o-transition: background-size 0.2s; -webkit-transition: background-size 0.2s; transition: background-size 0.2s; }
.MainPanelList .MainPanelListItem:hover.ListItem01, .MainPanelList .MainPanelListItem:hover.ListItem02, .MainPanelList .MainPanelListItem:hover.ListItem03 { background-size: auto 110%; }

.SubPanelList { clear: both; margin-bottom: 5%; }
.SubPanelList .SubPanelListItem { background: #efe9da; width: 25%; float: left; -moz-transition: all 0.4s; -o-transition: all 0.4s; -webkit-transition: all 0.4s; transition: all 0.4s; }
.SubPanelList .SubPanelListItem a { text-align: center; display: block; padding: 7.27% 0 8.2%; }
.SubPanelList .SubPanelListItem .PanelIcon { width: 80px; height: 80px; background: #FFF; border-radius: 100%; line-height: 80px; margin: 0 auto; color: #fbb34d; font-size: 36px; position: relative; -moz-transition: all 0.2s; -o-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s; margin-bottom: 10px; }
.SubPanelList .SubPanelListItem .PanelText { color: #222222; font-size: 17px; line-height: 1; text-align: center; font-weight: bold; }
.SubPanelList .SubPanelListItem.ListItem01 .PanelIcon { font-size: 30px; line-height: 84px; }
.SubPanelList .SubPanelListItem.ListItem02 .PanelIcon { line-height: 88px; }
.SubPanelList .SubPanelListItem.ListItem03 .PanelIcon { line-height: 88px; }
.SubPanelList .SubPanelListItem.ListItem04 .PanelIcon { font-size: 32px; line-height: 88px; }
.SubPanelList .SubPanelListItem:nth-child(even) { background: #e9dfc7; }
.SubPanelList .SubPanelListItem:hover { background: #fbb34d; }
.SubPanelList .SubPanelListItem:hover .PanelIcon { -moz-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
.SubPanelList::after { content: ""; clear: both; display: block; }

#ContWrap { clear: both; position: relative; }
#ContWrap::after { content: ""; clear: both; display: block; }

#ContMain { width: 70%; float: left; }
#ContMain .ContMainHeading { margin-bottom: 3.8%; position: relative; }
#ContMain .ContMainHeading .ContMainTitle { font-size: 35px; font-weight: bold; line-height: 1; color: #222222; display: inline; }
#ContMain .ContMainHeading a { font-size: 15px; color: #222222; margin-left: 0.5rem; }
#ContMain .ContMainHeading a:hover { color: #fbb34d; }
#ContMain .ContMainHeading a i { font-size: 10px; margin-left: 0.5rem; color: #fbb34d; }
#ContMain .NewsList .NewsListItem { clear: both; margin-bottom: 2.59%; }
#ContMain .NewsList .NewsListItem:last-child { margin-bottom: 0; }
#ContMain .NewsList .NewsListItem a { display: block; color: #222222; }
#ContMain .NewsList .NewsListItem a::after { content: ""; clear: both; display: block; }
#ContMain .NewsList .NewsListItem a:hover .NewsListItemText .NewsListItemTitle, #ContMain .NewsList .NewsListItem a:hover .NewsListItemText .NewsListItemOutline { text-decoration: underline; }
#ContMain .NewsList .NewsListItem a:visited .NewsListItemText .NewsListItemTitle { color: #a2a2a2; }
#ContMain .NewsList .NewsListItem a:visited .NewsListItemText .NewsListItemOutline { color: #b0b0b0; }
#ContMain .NewsList .NewsListItem .NewsListItemDate { font-size: 16px; line-height: 18px; font-weight: bold; position: relative; padding-top: 0.3%; }
#ContMain .NewsList .NewsListItem .NewsListItemThumb { width: 19.8%; float: left; }
#ContMain .NewsList .NewsListItem .NewsListItemText { width: 75.7%; float: right; }
#ContMain .NewsList .NewsListItem .NewsListItemText .NewsListItemTitle { font-size: 13px; color: #4b4b4b; line-height: 18px; margin-top: 3px; }
#ContMain .NewsList .NewsListItem .NewsListItemText .NewsListItemTitle span.memory { display: inline-block; position: relative; top: -3px; background-color: #e8e8e8; font-size: 10px; padding: 0 6px; margin-left: 4px; line-height: 16px; }
#ContMain .NewsList .NewsListItem .NewsListItemText .NewsListItemOutline { font-size: 13px; color: #999999; line-height: 18px; margin-top: 4px; }

#Rside { width: 25%; float: right; }
#Rside .RsideMovie { padding-top: 2%; }
#Rside .RsideMovie a { display: block; }

.uaaAccreditedWrap { width: 25%; position: absolute; right: 0; bottom: 0; }
.uaaAccreditedWrap .uaaAccredited { display: table; width: 100%; }
.uaaAccreditedWrap .uaaAccredited .uaaAccreditedLogo { display: table-cell; width: 28%; }
.uaaAccreditedWrap .uaaAccredited .uaaAccreditedLogo img { width: 100%; }
.uaaAccreditedWrap .uaaAccredited .uaaAccreditedText { display: table-cell; width: 72%; vertical-align: middle; padding-left: 8.5%; }
.uaaAccreditedWrap .uaaAccredited .uaaAccreditedText p { font-size: 11px; line-height: 15px; color: #6f6f6f; }

/*-----------------------------------------------------
SP用スタイル
------------------------------------------------------*/
@media screen and (max-width: 768px) {
#Main .MainInner { width: 88.5%; margin: 0 auto; padding-top: 11.2%; }

#Alert { width: 88.5%; }
#Alert .AlertInner { padding: 10px 10px; }
#Alert .TitEN:before { width: 13px; height: 13px; background: url(../images/home/emergency_icon.png) 0 0 no-repeat; margin-top: -7px; background-size: 13px; }
#Alert .TitEN h2 { font-size: 17px; letter-spacing: 1px; padding-left: 15px; margin-right: 0; }
#Alert .TitEN .MoreBtn { float:right; top:0; }
#Alert .TitEN .MoreBtn a { padding:1px 9px; }
#Alert .Entry { padding:11px 0 0; }
#Alert .Entry .TitLocation { font-size:17px; letter-spacing: 1px; margin-bottom: 1px; }
#Alert .AlertList .AlertListItem { font-size: 13px; font-weight: bold; color: #FFF; padding-bottom:15px; }
#Alert .AlertList .AlertListItem .Date { width:auto; float: none; }
#Alert .AlertList .AlertListItem .Tit { letter-spacing: 0.2px; margin-left:0; }

#AlertDefault .AlertDefaultInner { padding: 2.9% 7%; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem { padding: 4px 0; margin-bottom: 4px; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem .AlertDefaultDate { display: block; width: 100%; float: none; margin-right: 0; padding-left: 24px; font-weight: normal; font-size: 13px; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem .AlertDefaultDate:before { width: 16px; height: 13px; background-size: 16px 13px; margin-top: -7px; }
#AlertDefault .AlertDefaultList .AlertDefaultListItem .AlertDefaultText { display: block; width: 100%; float: none; font-size: 13px; }
#AlertDefault .AlertDefaultDetailBtn { position: static; display: block; text-align: center; }
.MainPanelList { display: block; min-height: 0; }
.MainPanelList .MainPanelListItem { display: block; }
.MainPanelList .MainPanelListItem a { min-height: 0; -moz-transition: none 0s; -o-transition: none 0s; -webkit-transition: none 0s; transition: none 0s; }
.MainPanelList .MainPanelListItem a:hover { background-color: transparent; }
.MainPanelList .MainPanelListItem .ListItemDetail .PanelTitle { font-size: 21px; }
.MainPanelList .MainPanelListItem .ListItemDetail .PanelText { font-size: 14px; }
.MainPanelList .MainPanelListItem .ListItemDetail .PanelTextMore { font-size: 16px; }
.MainPanelList .MainPanelListItem.ListItem01 { width: 100%; background-size: cover; }
.MainPanelList .MainPanelListItem.ListItem01 a { padding: 5.8% 0 14.7% 7%; }
.MainPanelList .MainPanelListItem.ListItem02 { width: 100%; background-size: cover; }
.MainPanelList .MainPanelListItem.ListItem02 a { padding: 5.8% 0 7.35% 7%; }
.MainPanelList .MainPanelListItem.ListItem03 { width: 100%; background-size: cover; }
.MainPanelList .MainPanelListItem.ListItem03 a { padding: 5.8% 0 14.7% 7%; }
.MainPanelList .MainPanelListItem:hover.ListItem01, .MainPanelList .MainPanelListItem:hover.ListItem02, .MainPanelList .MainPanelListItem:hover.ListItem03 { background-size: cover; }
.SubPanelList { margin-bottom: 9.4%; }
.SubPanelList .SubPanelListItem { -moz-transition: none 0s; -o-transition: none 0s; -webkit-transition: none 0s; transition: none 0s; }
.SubPanelList .SubPanelListItem a { padding: 8px 0; }
.SubPanelList .SubPanelListItem:first-child a { padding: 8px 0 3px; }
.SubPanelList .SubPanelListItem .PanelIcon { width: 40px; height: 40px; -moz-transition: none 0s; -o-transition: none 0s; -webkit-transition: none 0s; transition: none 0s; font-size: 18px; line-height: 40px; margin-bottom: 7px; }
.SubPanelList .SubPanelListItem:first-child .PanelIcon { margin-bottom: 2px; }
.SubPanelList .SubPanelListItem.ListItem01 .PanelIcon, .SubPanelList .SubPanelListItem.ListItem02 .PanelIcon, .SubPanelList .SubPanelListItem.ListItem03 .PanelIcon, .SubPanelList .SubPanelListItem.ListItem04 .PanelIcon { font-size: 18px; line-height: 40px; }
.SubPanelList .SubPanelListItem .PanelText { font-size: 10px; }
.SubPanelList .SubPanelListItem:nth-child(even):hover { background: #e9dfc7; }
.SubPanelList .SubPanelListItem:hover { background: #efe9da; }
.SubPanelList .SubPanelListItem:hover .PanelIcon { -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); }
#ContWrap { clear: both; }
#ContMain { width: 100%; float: none; margin-bottom: 7.35%; }
#ContMain .ContMainHeading { }
#ContMain .ContMainHeading .ContMainTitle { font-size: 18px; display: block; }
#ContMain .ContMainHeading a { position: absolute; right: 0; top: 0; line-height: 18px; font-size: 12px; }
#ContMain .ContMainHeading a i { line-height: 1; }
#ContMain .NewsList .NewsListItem { margin-bottom: 5.88%; }
#ContMain .NewsList .NewsListItem a:hover .NewsListItemText .NewsListItemTitle, #ContMain .NewsList .NewsListItem a:hover .NewsListItemText .NewsListItemOutline { color: #4b4b4b; text-decoration: none; }
#ContMain .NewsList .NewsListItem a:visited .NewsListItemText .NewsListItemTitle { color: #4b4b4b; }
#ContMain .NewsList .NewsListItem .NewsListItemDate { color: #4b4b4b; margin-bottom: 10px; width: 35.3%; position: relative; }
#ContMain .NewsList .NewsListItem .NewsListItemDate:after { position: absolute; left: 100%; margin-left: 0; white-space: nowrap; }
#ContMain .NewsList .NewsListItem .NewsListItemThumb { width: 31.7%; }
#ContMain .NewsList .NewsListItem .NewsListItemText { width: 64.7%; }
#ContMain .NewsList .NewsListItem .NewsListItemText .NewsListItemTitle { color: #4b4b4b; margin-top: 0; }
#ContMain .NewsList .NewsListItem .NewsListItemText .NewsListItemOutline { display: none; }
#Rside { width: 100%; float: none; }
#Rside .RsideMovie { margin-bottom: 6.6%; }
.uaaAccreditedWrap { position: static; width: 100%; }
.uaaAccreditedWrap .uaaAccredited .uaaAccreditedLogo { width: 28.3%; }
.uaaAccreditedWrap .uaaAccredited .uaaAccreditedLogo img { max-width: 97px; margin: 0 auto; }
.uaaAccreditedWrap .uaaAccredited .uaaAccreditedText { width: 65.4%; padding-left: 4.25%; }
.uaaAccreditedWrap .uaaAccredited .uaaAccreditedText p { font-size: 13px; line-height: 1.37037; }
}
