@charset "utf-8";

/*-----------------------------------------------------
Not Found Style
------------------------------------------------------*/
/*Main */
#LowerMainvis { background-color:#f5f5f5; }
#Main .MainInner { padding: 60px 0 70px; }
.TextBlock p { color: #222; }
.ListBlock ul li { color: #5e5e5e; }
.SearchBox { width: 400px; height: 42px; position: relative; }
.SearchBox input.SearchInput { width: 400px; height: 42px; border: 1px solid #eaeaea; font-size: 18px; color: #555555; padding-left: 11px; outline: none; }
.SearchBox button.SearchSubmit { width: 35px; height: 42px; position: absolute; right: 0; top: 0; border: none; background: #eaeaea; font-family: icon-tokai; font-size: 25px; color: #4c4c4c; outline: none; }
.SearchBox button.SearchSubmit:hover { color: #dd6800; }
@media screen and (max-width: 769px){
#Main .MainInner {  width: 88.5%; margin:0 auto; }
}
@media screen and (max-width: 500px){
.SearchBox { width: 100%; height: 32px; }
.SearchBox input.SearchInput { width: 100%; height: 32px; }
.SearchBox button.SearchSubmit { width: 30px; height: 32px; font-size: 20px;}
}