@charset "utf-8";

/*-----------------------------------------------------
Search Page Style
------------------------------------------------------*/

/*Main common*/
#LowerMainvis { background-color:#a4b8d5; }
#LowerMainvis .LowerMainvisInner { background-color:#a4b8d5; background-image: url(/english/images/search/mainvis_img.jpg); }

#Main .MainInner { padding: 47px 0 70px; }

/* search common */
#ContSearch .SearchHead { margin-bottom: 33px; }
#ContSearch .SearchHead .SearchBox { width: 640px; height: 42px; float: left; background: #eaeaea; position: relative; }
#ContSearch .SearchHead .SearchBox input.SearchInput { width: 600px; height: 42px; background: transparent; border: none; font-size: 18px; color: #555555; padding-left: 11px; outline: none; }
#ContSearch .SearchHead .SearchBox button.SearchSubmit { width: 35px; height: 42px; position: absolute; right: 0; top: 0; border: none; background: none; font-family: icon-tokai; font-size: 25px; color: #4c4c4c; outline: none; }

#ContSearch .SearchHead .SearchOption { width: 91px; float: left; margin: 8px 10px 6px 44px; }
#ContSearch .SearchHead .SearchOption a.icon-Option { position: relative; font-size: 18px; letter-spacing: 1px; padding-left: 34px; }
#ContSearch .SearchHead .SearchOption a.icon-Option:before { position: absolute; left: 0px; font-size: 28px; color: #aaaaaa; }
#ContSearch .SearchHead .SearchOption a:hover.icon-Option:before { color: #fbb34d; }

#ContSearch .PagerStyle01 { text-align: center; margin: 0 auto;}
#ContSearch .PagerStyle01 ul { display: inline-block; letter-spacing: -3px; margin:0 6px; }
#ContSearch .PagerStyle01 ul li { display: inline-block; letter-spacing: normal; margin: 0 1px; }
#ContSearch .PagerStyle01 ul li a, .PagerStyle01 ul li span { font-size: 18px; color: #c9c9c9; padding: 4px 10px 0px; }
#ContSearch .PagerStyle01 ul li a:hover { background: #efefef; }
#ContSearch .PagerStyle01 ul li .current { border-top: 3px solid #022f54 !important; color: #022f54 !important; }
#ContSearch .PagerStyle01 .PagerIcon { font-family: icon-tokai; font-size: 19px; color: #264c6c; display: inline-block;}
#ContSearch .PagerStyle01 .PagerIcon a { display: block; width:30px; color: #fbb34d !important; }
#ContSearch .PagerStyle01 .PagerIcon a:hover { color: #fbb34d; }

/* search index */
#ContSearch .SearchResult { margin-bottom: 71px;}
#ContSearch .SearchResult .ResultTit { font-size: 16px; color: #7a7a7a; margin-bottom: 18px; }
#ContSearch .SearchResult .SearchListItem { clear: both; border-top: 1px solid #c9c9c9; }
#ContSearch .SearchResult .SearchListItem:last-child { padding-bottom: 0; border-bottom: 1px solid #c9c9c9;}
#ContSearch .SearchResult .SearchListItem a { display: block; padding: 22px 0 15px; transition:background .3s; }
#ContSearch .SearchResult .SearchListItem a:hover { background:#efefef; }
#ContSearch .SearchResult .SearchListItem a:hover img { filter: alpha(opacity=100); -moz-opacity:1 ; opacity:1; }
#ContSearch .SearchResult .SearchListItem .SearchListItemThumb { width: 180px; float: left; }
#ContSearch .SearchResult .SearchListItem .SearchListItemBlock { width: 880px; float: right; }
#ContSearch .SearchResult .SearchListItem .SearchListItemBlock .SearchListItemTit { font-size: 19px; color: #313131; line-height: 18px; margin-bottom: 18px; }
#ContSearch .SearchResult .SearchListItem .SearchListItemBlock .SearchListItemTxt { font-size: 16px; color: #7a7a7a; padding-bottom: 10px; }
#ContSearch .LinkDefault .LinkItem { font-size: 16px; word-break: break-all; color: #e48e58; }

/* search error */
.PageSearchError #ContSearch .ErrorMessage { font-size: 16px; color: #7a7a7a; margin-top: 11px; margin-bottom: 71px; }
.PageSearchError #ContSearch .ErrorMessage span { font-weight: bold; color: #222222; }
.PageSearchError #ContSearch .SearchResult { height: 522px; }

@media screen and (max-width: 768px){
/* search common */
#Mainvis { height: auto; }
#Mainvis .MainvisInner { width: 88.5%; }
#Mainvis h2 { font-size: 20px; line-height: 30px; }
#Main .MainInner { width: 88.5%; margin: 0 auto; }
#ContSearch .SearchHead { width: 100%; }
#ContSearch .SearchHead .SearchBox { width: 100%; float: none;position: relative; margin-bottom: 20px; }
#ContSearch .SearchHead .SearchBox input.SearchInput { width: 87%; }
#ContSearch .SearchHead .SearchOption { float: none; margin-left: 0; }
#ContSearch .SearchHead .SearchOption a.icon-Option { position:relative; padding-left: 0; margin-right: 10px; padding-left: 30px; }
#ContSearch .SearchHead .SearchOption a.icon-Option:before { position: absolute; top: -4px; left: 0; }
#ContSearch .LinkDefault .LinkItem { font-size: 13px; }

/* search index */
#ContSearch .SearchResult .SearchListItem .SearchListItemThumb { width: 31.7%; float: left; }
#ContSearch .SearchResult .SearchListItem .SearchListItemBlock { width: 64.7%; float: right; }
#ContSearch .SearchResult .SearchListItem .SearchListItemBlock .SearchListItemTxt { font-size: 13px; }
#ContSearch .SearchResult .SearchListItem .SearchListItemTit { margin-bottom: 10px; }
#ContSearch .SearchResult .SearchListItem .SearchListItemTit h3 { display: block; font-size: 16px; font-weight: bold; }
}
