@charset "utf-8";

/*-----------------------------------------------------
downloads Style
------------------------------------------------------*/
#LowerMainvis { background-color: #b1d5f2; }
#LowerMainvis .LowerMainvisInner { background-image: url(/english/images/sitemap/mainvis_img.jpg); background-position:top right 121px; }

.OtherLinkArea { margin-top:100px; }
.OtherLinkArea .LinkText li { width: auto; float:left; margin-right:30px; }
.OtherLinkArea .LinkText.Other li a.icon-Sitemap:before { top: 4px; left: 2px; font-size: 11px; }
.OtherLinkArea .LinkText.Other li a.icon-Access:before { top: 2px; left: 2px; }
.OtherLinkArea .LinkText.Other li a.icon-Download:before { top: 3px; left: 6px; font-size: 13px; }
.OtherLinkArea .LinkText.Other li a.icon-Faq:before { top: 4px; left: 2px; font-size: 12px; }
.OtherLinkArea .LinkText.Other li a.icon-Contact:before { top: 5px; left: 5px; font-size: 10px; }

@media screen and (min-width: 769px){
    #Cont { width:auto; }

    .T3IndexList > ul > li { margin-bottom:20px; }
    .T3IndexList > ul li { margin-top:7px; }
    .T3IndexList ul li a.icon-after-ArrowRight:hover { color:#fbb34d; }
    .T3IndexList ul.Fl:after,
    .T3IndexList ul.child:after { display:block; content:""; clear:both; height:0; font-size:0; visibility:hidden; }
    .T3IndexList ul.Fl li,
    .T3IndexList ul.child li { float:left; }

    .T3IndexList.Col3 ul.Fl li,
    .T3IndexList.Col3 ul.child li { width:364px; padding-right:10px; }
    .T3IndexList.Col3 ul.Fl li:nth-child(3n),
    .T3IndexList.Col3 ul.child li:nth-child(3n) { padding-right:0; }

    .T3IndexList.Col4 ul.Fl li,
    .T3IndexList.Col4 ul.child li { width:273px; padding-right:10px; }
    .T3IndexList.Col4 ul.Fl li:nth-child(4n),
    .T3IndexList.Col4 ul.child li:nth-child(4n) { padding-right:0; }

    .T3IndexList.Col5 ul.Fl li,
    .T3IndexList.Col5 ul.child li { width:216px; padding-right:10px; }
    .T3IndexList.Col5 ul.Fl li:nth-child(5n),
    .T3IndexList.Col5 ul.child li:nth-child(5n) { padding-right:0; }
}
@media screen and (max-width: 768px){
    .OtherLinkArea { margin-top:70px; }
    #LowerMainvis .LowerMainvisInner { background-position:top right; }
}
