@charset "utf-8";

@media screen and (max-width: 768px){
    #Cont { width: 88.5%; margin: 0 auto 50px; }
}

/*-----------------------------------------------------
LowerMainvis
------------------------------------------------------*/
#LowerMainvis { background-color: #d3e0eb; }
#LowerMainvis .LowerMainvisInner { display: table; width: 1100px; height: 190px; background-repeat: no-repeat; background-position: top right 136px; margin: 0 auto; }
#LowerMainvis h2 { display: table-cell; vertical-align: middle; font-size: 35px; font-weight: bold; color: #222; }
#LowerMainvis h2 span.Parent { display:block; font-size:22px; font-weight:normal; line-height:1; letter-spacing: 1px; padding-top:10px; }

@media screen and (max-width:768px) {
    #LowerMainvis { height: auto; }
    #LowerMainvis .LowerMainvisInner { width: 100%; height: 75px; background-position: right top; -webkit-background-size: auto 100%; background-size: auto 100%; }
    #LowerMainvis h2 { width: 60%; font-size: 18px; line-height: 24px; padding: 0 43% 0 5.75%; }
    #LowerMainvis h2 span.Parent { font-size:12px; padding-top:7px; }
}

/*-----------------------------------------------------
Margin
------------------------------------------------------*/
.MgnSS { margin-bottom: 10px !important; }
.MgnS { margin-bottom: 20px !important; }
.MgnM { margin-bottom: 30px !important; }
.MgnL { margin-bottom: 40px !important; }
.MgnLL { margin-bottom: 50px !important; }
.MgnXL { margin-bottom: 60px !important; }

/*------------------------------------------------------
Icon
---------------------------------------------------------*/
.icon-after-ArrowRight:after { content: "\e901"; }
.icon-after-ArrowUp:after { content: "\e902"; }
.icon-after-ArrowDown:after { content: "\e903"; }
.icon-after-PDF:after,
.icon-after-Word:after,
.icon-after-Excel:after,
.icon-after-PowerPoint:after,
.icon-after-Zip:after,
.icon-after-Blank:after { display:inline-block; position:relative; top:1px; font-size:16px; text-decoration: none !important; margin-left:10px; }
.icon-PDF:before,
.icon-after-PDF:after { color: #dc1525; }
.icon-Word:before,
.icon-after-Word:after { color: #285395; }
.icon-Excel:before,
.icon-after-Excel:after { color: #217647; }
.icon-Zip:before,
.icon-after-Zip:after { color: #e6bf23; }
.icon-PowerPoint:before,
.icon-after-PowerPoint:after { color: #d14524; }
.icon-after-PDF:after { content: "\e914"; }
.icon-after-Word:after { content: "\e918"; }
.icon-after-Excel:after { content: "\e919"; }
.icon-after-PowerPoint:after { content: "\e91a"; }
.icon-after-Zip:after { content: "\e91b"; }
.icon-after-Blank:after { content: "\e913"; font-size: 10px; color: #e5911a; top:0; }

/*-----------------------------------------------------
Label
------------------------------------------------------*/
[class^="label-"]:before, [class*=" label-"]:before { display: inline-block; color: #fff; font-size: 12px; line-height: 1; padding: 4px 7px; margin-bottom: 4px; }
.label-News:before { content: "News"; background-color: #098590; }
.label-Events:before { content: "Events"; background-color: #356892; }
.label-PressRelease:before { content: "Press Release"; background-color: #124066; }

/*-----------------------------------------------------
Title
------------------------------------------------------*/
.TitleStyle01 { position: relative; border: solid 2px #054488; border-left: none; border-right: none; font-size: 28px; font-weight: bold; color: #022f54; padding: 18px 0; margin-bottom: 30px; }
.TitleStyle02 { border-left: 7px solid #054488; font-size: 22px; font-weight: bold; color: #054488; line-height: 1.3; padding: 5px 0px 5px 12px; margin-bottom: 15px; }
.TitleStyle03 { font-size: 20px; font-weight: bold; color: #054488; line-height: 1.3; margin-bottom: 1px; }
.TitleStyle04 { border-bottom: 2px solid #054488; font-size: 20px; color: #313131; line-height: 1.3; margin-bottom: 8px; padding-bottom: 4px; }
.TitleStyle04 a { color: #313131; }

.InfoBlock { overflow:hidden; margin-bottom:10px; }
.InfoBlock .ProgramList { float: left; padding-top: 3px; }
.InfoBlock .ProgramList li { display: inline-block; border: 1px solid #d8d8d8; font-size: 12px; padding: 0px 6px; margin-right: 5px; color: #333; }
.InfoBlock .CampusLink { width:auto; float:right; }
.InfoBlock .CampusLink a { display:inline-block; font-size: 13px; color: #dd6800; }

.TitleLanguage { border-bottom: 2px solid #054488; font-size: 20px; color: #313131; line-height: 1.3; overflow:hidden; margin-bottom: 8px; padding-bottom: 4px; }
.TitleLanguage .TitleStyle05 { float: left; }
.TitleLanguage .BtnList { float: right; }
.TitleLanguage .BtnList .LinkBtn { vertical-align: top; }

.TextBlock blockquote { background: url(../../academics/images/bg_slash.png) 0 0 repeat; padding: 30px; margin:0; }
.TextBlock blockquote h4 { font-size: 18px; font-weight: bold; color: #222222; padding-bottom: 27px; }
.TextBlock blockquote p.Text { font-size: 22px; color: #5e5e5e; }

@media screen and (min-width: 769px){
    .TitleStyle04 a:hover { color: #fbb34d; }
    .InfoBlock .CampusLink a:hover { color: #fbb34d; }
}
@media screen and (max-width:768px) {
    .TitleStyle01 { font-size: 22px; padding: 15px 0; margin-bottom: 30px; }
    .TitleStyle02 { border-left: 5px solid #054488; font-size: 18px; line-height: 1.2; padding: 4px 0px 4px 10px; }
    .TitleStyle03 { font-size: 16px; }
    .TitleStyle04 { font-size: 16px; }

    .InfoBlock .ProgramList { padding-top: 0; }
    .InfoBlock .ProgramList li { font-size: 10px; padding: 0px 2px; margin-right: 1px; }
    .InfoBlock .CampusLink { font-size:11px; padding-top:4px; }
    .InfoBlock .CampusLink a { font-size: 11px; }

    .TitleLanguage { font-size: 16px; padding-bottom: 0px; }

    .TextBlock blockquote { padding: 15px; }
    .TextBlock blockquote p.Text { font-size: 16px; }
}
@media screen and (max-width:430px) {
    .ProgramList { float: none; }
    .ProgramList li { margin-bottom: 10px; }
    .TextRight { float: left; }
}

/*-----------------------------------------------------
Text
------------------------------------------------------*/
.TextBlock { margin-bottom: 40px; }
.TextBlock p.Text { font-size: 13px; color: #222; margin-bottom:20px; }
.TextBlock p.Text:last-child { margin-bottom:0; }
.TextBlock a { color:#dd6800; }
.TextBlock a:hover { color:#fbb34d; }
.TextBlock .TextStyleLeft { text-align: left; }
.TextBlock .TextStyleMiddle { text-align: center; }
.TextBlock .TextStyleRight { text-align: right; }
.TextBlock p.TextStyleNote { font-size: 12px; color: #6d6d6d; }

@media screen and (max-width:768px) {
    .LinkBtn.SizeM a { font-size:10px; padding: 2px 3px; }
    .LinkBtn.SizeM a.icon-after-ArrowRight:after { font-size:8px; margin-left:2px; }
}

/*-----------------------------------------------------
Frame
------------------------------------------------------*/
.FrameStyle01 { border:solid 1px #bcdcef; padding:20px 30px; }
.FrameStyle01 .Tit { font-size:18px; font-weight:bold; margin-bottom: 12px; }
.FrameStyle01 .Txt { font-size:13px; line-height:18px; }

@media screen and (max-width:768px) {
    .FrameStyle01 { padding:10px 15px; }
    .FrameStyle01 .Tit { margin-bottom: 8px; }
}

/*-----------------------------------------------------
List
------------------------------------------------------*/
.ListBlock .OrderList { margin: 0 0 20px 20px; }
.ListBlock .OrderList li { padding-left: 7px; list-style-position: outside; list-style-type: decimal; }
.ListBlock .NormalList li { position: relative; list-style-type: none; padding: 0 0 0 12px; }
.ListBlock .NormalList li:before { content: ""; display: block; width: 5px; height: 1px; position: absolute; left: 0px; top: 10px; background: #222; }
.ListBlock .NormalList .NormalListChild { margin-left: 11px; }
.ListBlock .NormalList.TypeAsta li:before { content: "*"; width:auto; height:auto; background:none; top: 4px; font-size: 20px; line-height: 1; }

/*------------------------------------------------------
Link
---------------------------------------------------------*/
.LinkDefault { }
.LinkItem { font-size: 13px; margin-bottom: 15px; }
.LinkItem a.LinkUrl { font-size:14px; color: #e48e58; }
.LinkItem a { display: inline-block; position: relative; font-size:15px; }
.LinkItem [class^="icon-"], .LinkItem [class*=" icon-"] { position: relative; padding-left: 24px; }
.LinkItem [class^="icon-"]:before, .LinkItem [class*=" icon-"]:before { position: absolute; left: 0; top: 4px; }
.LinkItem a.icon-ArrowLeft:before { font-size: 10px; color: #e5911a; }
.LinkItem [class^="icon-after-"], .LinkItem [class*=" icon-after-"] { padding-left: 0; }
.LinkItem [class^="icon-after-"]:after, .LinkItem [class*=" icon-after-"]:after { display: inline-block; position: relative; margin-left: 5px; }
.LinkItem a.icon-after-Blank:after { content: "\e913"; top: 0; font-size: 10px; color: #e5911a; }
.LinkItem a.icon-after-PDF:after { content: "\e914"; top: 1px; font-size: 16px; color: #dc1525; }
.LinkItem a.icon-after-ArrowRight:after { content: "\e901"; top: 1px; color: #eba94c; font-size: 11px; }

.BtnList li { width:auto; float:left; }
.BtnList li:last-child { margin-right:0 !important; }
.LinkBtn { text-align: center; }
.LinkBtn a { display:inline-block; background-color: #fbb34d; color: #fff; transition:background-color .3s; }
.LinkBtn a.icon-after-ArrowRight:after { top: 1px; font-size:10px; color: #fff; }

.BtnList .LinkBtn.SizeL { margin-right:20px; }
.LinkBtn.SizeL a { font-size:15px; padding: 19px 73px; }
.LinkBtn.SizeL a.icon-after-ArrowRight:after { margin-left:8px; }
.BtnList .LinkBtn.SizeM { margin-right:10px; }
.LinkBtn.SizeM a { font-size:12px; padding: 4px 11px; }
.LinkBtn.SizeM a.icon-after-ArrowRight:after { margin-left:5px; }

.MetaData { line-height:1; }
.MetaData.icon-PDF { position: relative; }
.MetaData.icon-PDF:before { display:inline-block; font-size: 16px; vertical-align: top; }
.MetaData span.memory,
.DownLoadList li span.memory { display: inline-block; position: relative; background-color: #e8e8e8; font-size: 10px; color:#222; line-height:16px; vertical-align: top; padding: 0 6px; margin-left: 4px; }
.DownLoadList li span.memory { top:1px; }
.DownLoadList li { margin-bottom: 15px; }
.DownLoadList a:hover { text-decoration: underline; }

.LinkHistoryBack {}
.LinkHistoryBack a { display:inline-block; position:relative; font-size:13px; }
.LinkHistoryBack a:before { font-size:10px; color:#e5911a; margin-right:10px; }

@media screen and (min-width: 769px){
    .LinkItem a.LinkUrl:hover { text-decoration: underline; color:#fbb34d; }
    .LinkBtn a:hover { background-color: #ff9500; }
}
@media screen and (max-width:768px) {
    .LinkButton .MoreButton a { padding: 10px 36px; }
    .BtnList .LinkBtn.SizeL { width:auto; float:none; margin:0 0 10px; }
    .BtnList .LinkBtn.SizeL:last-child { margin-bottom:0; }
    .LinkBtn.SizeL a { display:block; text-align: center; padding:12px 15px; }
    .LinkBtn.SizeL a.icon-after-ArrowRight:after { margin-left:8px; }
    .BtnList .LinkBtn.SizeM { margin:0 5px 10px 0; }
}

/*-----------------------------------------------------
DownLoadList
------------------------------------------------------*/
.DlBoxLists { }
.DlBoxLists .DlListIn { margin-right: -12px; overflow:hidden;}
.DlBoxLists .DlListIn > li { width: 173px; float: left; margin: 0 12px 27px 0; }
.DlBoxLists .DlListIn > li .MetaData.icon-PDF { margin:10px 0 5px; }
.DlBoxLists .DlListIn > li figure p { font-size: 13px; color: #333333; transition: color .15s; }
.DlBoxLists .DlListIn > li a:hover figure p { color: #fbb34d; }

@media screen and (max-width:768px) {
    .DlBoxLists .DlListIn { margin-right: -2%; }
    .DlBoxLists .DlListIn > li { width: 23%; margin: 0 2% 4% 0; }
}
@media screen and (max-width:667px) {
    .DlBoxLists .DlListIn { margin-right: 0;}
    .DlBoxLists .DlListIn > li { width: 47%; margin: 0 0 4% 0;}
    .DlBoxLists .DlListIn > li img { width: 100%; }
    .DlBoxLists .DlListIn > li:nth-child(odd) { clear: both; }
    .DlBoxLists .DlListIn > li:nth-child(even) { float: right; }
}

/*-----------------------------------------------------
AnchorLink
------------------------------------------------------*/
.AnchorLink ul { background: #f6f6f6; }
.AnchorLink ul li { float: left; position: relative; margin-bottom: 16px; line-height: 1.4; word-wrap: break-word; }
.AnchorLink ul li.icon-AcuteTriangleDown:before { position: absolute; font-size: 9px; top: 5px; left: 0px; color: #fbb34d; }
.AnchorLink ul li a { font-weight: bold; font-family: "Arial"; color:#222; }
.AnchorLink ul.OneCol li { width: 100%; padding-left: 20px;}
.AnchorLink ul.OneCol, .AnchorLink ul.TwoCol { padding: 19px 23px 2px 23px; }
.AnchorLink ul.TwoCol li:nth-child(odd) { width: 380px; padding: 0 22px 0 22px; }
.AnchorLink ul.TwoCol li:nth-child(even) { width: 339px; padding-left: 18px; }
.AnchorLink ul.ThreeCol { padding: 24px 37px 4px 37px; }
.AnchorLink ul.ThreeCol li { width: 230px; font-size: 16px; margin-bottom: 19px; padding: 0 20px 0 20px; }
.AnchorLink ul.ThreeCol li.icon-AcuteTriangleDown:before { top: 8px; }
.AnchorLink ul.FourCol { padding: 23px 22px 10px 23px; }
.AnchorLink ul.FourCol li { width: 180px; font-size: 18px; margin-bottom: 13px; padding: 0 20px 0 20px; }
.AnchorLink ul.FourCol li.icon-AcuteTriangleDown:before { top: 8px; }
.MoreBtn { width: 150px; }
.MoreBtn a { display: block; background-color: #00b0f0; padding: 12px 0px 12px 20px; }
.MoreLink a { display: inline-block; position: relative; color: #46b0f2; padding-left: 25px; }
.MoreLink a:before { content: "→"; display: inline-block; position: absolute; color: #46b0f2; bottom: 0; left: 3px; }
.TextBlock .Text a.TextBlue { color: #46b0f2; }
.AnchorBlock { border-top: 1px solid #858585; border-bottom: 1px solid #858585; padding: 20px 0; margin-bottom: 20px; }
.AnchorBlock a.AnchorLink { position: relative; display: inline-block; color: #46b0f2; padding-left: 25px; }
.AnchorBlock .AnchorLink:before { content: "▽"; display: inline-block; position: absolute; bottom: 0; left: 3px; color: #46b0f2; }
.AnchorBlock .AnchorBlockL { width: 185px; float: left; }
.AnchorBlock .AnchorBlockR { }
.BackLink a { position: relative; display: inline-block; color: #46b0f2; padding-left: 25px; }
.BackLink a:before { content: "→"; display: inline-block; position: absolute; bottom: 0; left: 3px; color: #46b0f2; }

@media screen and (min-width: 769px){
    .AnchorLink ul li a:hover { color:#fbb34d; }
}
@media screen and (max-width:768px) {
    .AnchorLink { margin-bottom: 30px; }
    .AnchorLink ul.OneCol li, .AnchorLink ul.TwoCol li { width: 100% !important; }
    .AnchorLink ul.ThreeCol li, .AnchorLink ul.FourCol li { width: 50% !important; font-size:16px; }
    .AnchorLink ul.FourCol li.icon-AcuteTriangleDown:before { top:6px; }
}
@media screen and (max-width:605px) {
    .AnchorLink ul.ThreeCol li { width: 100% !important; }
}

/*-----------------------------------------------------
Pager
------------------------------------------------------*/
.Pager .PagerTit { width: auto; float: left; font-size: 13px; color: #8c8c8c; margin-right: 10px; }
.Pager ul { float: left; letter-spacing: -3px; }
.Pager ul li { display: inline-block; line-height: 10px; letter-spacing: normal; margin: 0 1px; }
.Pager ul li a:hover, .Pager ul li .current { border-top: 3px solid #022f54 !important; color: #022f54 !important; }
.Pager ul li a, .Pager ul li span { font-size: 18px; color: #c9c9c9; padding: 4px 10px 0px; }
.PagerStyle01 { margin: 0 auto; }
.PagerStyle01 ul { display: inline-block; letter-spacing: -3px; margin: 0 6px; }
.PagerStyle01 ul li { display: inline-block; letter-spacing: normal; margin: 0 1px; }
.PagerStyle01 ul li a, .PagerStyle01 ul li span { font-size: 18px; color: #c9c9c9; padding: 4px 10px 0px; }
.PagerStyle01 ul li a:hover { background: #efefef; }
.PagerStyle01 ul li .current { border-top: 3px solid #022f54 !important; color: #022f54 !important; }
.PagerStyle01 .PagerIcon { font-family: icon-tokai; font-size: 19px; color: #264c6c; display: inline-block; }
.PagerStyle01 .PagerIcon a { display: block; width: 30px; color: #fbb34d !important; }
.PagerStyle01 .PagerIcon a:hover { color: #022f54; }

/*-----------------------------------------------------
Image
------------------------------------------------------*/
.ImgColumns { clear: both; }
.ImgColumns:after { content: ""; clear: both; display: block; }
.ImgColumns figure.ImgBox { float: left; margin: 0 3% 24px 0; }
.ImgColumns figure.ImgBox img { width: 100%; }
.ImgColumns figure.ImgBox .ImgCap { font-size: 13px; color: #565656; background-color: #f6f2ef; line-height: 18px; padding: 15px 24px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
.ImgColumns.Column-1 figure.ImgBox { float: none; margin:0; }
.ImgColumns.Column-2 figure.ImgBox { /*width: 371px;*/ width: 48.5%; }
.ImgColumns.Column-3 figure.ImgBox { /*width: 245px;*/ width: 32%; margin-right: 2%; }
.ImgColumns.Column-4 figure.ImgBox { /*width: 183.75px;*/ width: 24%; margin-right: 1.33%; }
.ImgColumns.Column-2 figure.ImgBox:nth-child(2n), .ImgColumns.Column-3 figure.ImgBox:nth-child(3n), .ImgColumns.Column-4 figure.ImgBox:nth-child(4n) { margin-right: 0; }

@media screen and (max-width:768px) {
    .ImgColumns figure.ImgBox .ImgCap { padding: 10px 12px; }
}

/*-----------------------------------------------------
Box
------------------------------------------------------*/
.BoxStyle .BoxInner { clear: both; }
.BoxStyle .BoxInner:after { content: ""; clear: both; display: block; }
.ClmBox.Clm5-5 .BoxL { width: 245px; float: left; }
.ClmBox.Clm5-5 .BoxR { width: 500px; float: right; }
.ClmBox.Clm5-5.reverse .BoxL { width: 492px; }
.ClmBox.Clm5-5.reverse .BoxR { width: 245px; }
.ClmBox.Clm5-5L .BoxL { width: 360px; float: left; }
.ClmBox.Clm5-5L .BoxR { width: 380px; float: right; }
.ClmBox.Clm5-5L.reverse .BoxL { width: 380px; }
.ClmBox.Clm5-5L.reverse .BoxR { width: 360px; }
.ClmBox.Clm4-6 .BoxL { width: 285px; float: left; }
.ClmBox.Clm4-6 .BoxR { width: 460px; float: right; }
.ClmBox.Clm4-6.reverse .BoxL { width: 460px; }
.ClmBox.Clm4-6.reverse .BoxR { width: 285px; }
.ClmBox.Clm3-7 .BoxL { width: 230px; float: left; }
.ClmBox.Clm3-7 .BoxR { width: 525px; float: right; }
.ClmBox.Clm3-7.reverse .BoxL { width: 525px; }
.ClmBox.Clm3-7.reverse .BoxR { width: 230px; }
.ClmBox.Clm3-7 .BoxImgL { width: 230px; float: left; margin-right: 15px; }
.ClmBox.Clm3-7 .BoxTxtR p { font-size: 13px; letter-spacing: 1px; }
.BoxText h4 { font-size: 18px; font-weight:bold; color: #054488; margin-bottom: 6px; }
.BoxText p { font-size: 13px; line-height: 18px; margin-bottom: 15px; }
.BoxText p:last-child { margin-bottom: 0; }
.ClmBox .BoxL.FloatN, .ClmBox .BoxR.FloatN { float: none; }
.ClmBox .BoxL.Wraparound { margin-right: 20px; }
.ClmBox .BoxR.Wraparound { margin: 0 0 10px 20px; }
.BoxStyle { margin-bottom: 30px; }
.BoxStyle .ImgBox { margin-bottom: 10px; }
.BoxStyle .ImgBox img { width: 100%; }
.BoxStyle .ImgBox .ImgCap { width: 100%; background-color: #f6f2ef; font-size: 13px; color: #565656; line-height: 18px; padding: 15px 10px 11px 11px; }

@media screen and (max-width:768px) {
    .ClmBox.Clm5-5 .BoxL { width:auto; float: none; }
    .ClmBox.Clm5-5 .BoxR { width:auto; float: none; }
    .ClmBox.Clm5-5.B3 .BoxR { margin-bottom:30px; }
    .ClmBox.Clm5-5.reverse .BoxL { width:auto; margin-bottom:10px; }
    .ClmBox.Clm5-5.reverse .BoxR { width:auto; }
    .ClmBox.Clm5-5L .BoxL { width: 47.06%; float: left; }
    .ClmBox.Clm5-5L .BoxR { width: 49.67%; float: right; }
    .ClmBox.Clm5-5L.reverse .BoxL { width: 49.67%; }
    .ClmBox.Clm5-5L.reverse .BoxR { width: 47.06%; }
    .ClmBox.Clm4-6 .BoxL { width: 24.84%; float: left; }
    .ClmBox.Clm4-6 .BoxR { width: 73.50%; float: right; }
    .ClmBox.Clm4-6.reverse .BoxL { width: 73.50%; }
    .ClmBox.Clm4-6.reverse .BoxR { width: 24.84%; }
    .ClmBox.Clm3-7 .BoxL { width: 18.95%; float: left; }
    .ClmBox.Clm3-7 .BoxR { width: 79%; float: right; }
    .ClmBox.Clm3-7.reverse .BoxL { width: 79%; }
    .ClmBox.Clm3-7.reverse .BoxR { width: 18.95%; }
    .ClmBox.Clm3-7 .BoxImgL { width: 18.95%; float: left; margin-right: 15px; }
    .ClmBox.Clm3-7 .BoxTxtR p { }
}

/*--------------------------------------------------------
Table
---------------------------------------------------------*/
table.TableStyle01 { width: 100%; border-collapse:collapse; border-spacing:0; table-layout: fixed; }
table.TableStyle01 th,
table.TableStyle01 td { font-size: 13px; padding: 15px; }
table.TableStyle01 thead th { background-color: #054488; border-bottom: 1px solid #f4f4f4; border-right:solid 1px #4b77a7; color: #fff; }
table.TableStyle01 thead th.col-1 { width:400px; }
table.TableStyle01 tbody th { background-color: #e4e4e4; border-bottom: 1px solid #fff; border-right:solid 1px #cbcbcb; }
table.TableStyle01 tbody td { border-color:#e4e4e4; border-style: solid; border-width: 0 1px 1px 0; text-align: right; }

table.TableCountry { width: 100%; border-collapse:collapse; border-spacing:0; table-layout: fixed; font-size: 13px; }
table.TableCountry th,
table.TableCountry td { font-size: 13px; line-height:16px; vertical-align: top; padding:8px 0 15px; }
table.TableCountry th { width:235px; font-weight:bold; }
table.TableCountry td { padding-left:10px; }

.T3IndexList {}
.T3IndexList .BoxLeft { width:355px; float:left; }
.T3IndexList .BoxRight { width:390px; float:right; }
.T3IndexList ul {}
.T3IndexList ul li { line-height:22px; }
.T3IndexList ul li a { display:inline-block; font-size:13px; line-height:22px; color:#dd6800; }
.T3IndexList ul.child { margin-left:7px; }
.T3IndexList ul.child li { position:relative; padding-left:11px; }
.T3IndexList ul.child li:before { content: ""; display: block; width: 5px; height: 1px; position: absolute; left: 0px; top: 10px; background: #dd6800; }

.T4ClmBox { overflow:hidden; }
.T4ClmBox > div { height:170px; position:relative; }
.T4ClmBox .ImgLeft { float:left; }
.T4ClmBox .TxtRight { float:right; }
.T4ClmBox .TxtRight .TitWrap .Tit { font-size:16px; font-weight:bold; margin-bottom:0; }
.T4ClmBox .TxtRight .TitWrap .Txt { font-size:15px; }
.T4ClmBox .MetaData { position: absolute; left:0; bottom:0; }

.T4ClmBox.SizeA .ImgLeft { width:120px; }
.T4ClmBox.SizeA .TxtRight { width:621px; }
.T4ClmBox.SizeB .ImgLeft { width:170px; }
.T4ClmBox.SizeB .TxtRight { width:571px; }

.Table04Block table tr th { width: 120px; vertical-align: top; padding-bottom: 30px; }
.Table04Block table tr td { width: 621px; position: relative; vertical-align: top; padding-bottom: 30px; }
.Table04Block table tr td .AboutBoxText { margin-left: 24px; }
.Table04Block table tr td .AboutBoxText .TitleDept { font-size: 16px; font-weight: bold; color: #333333; margin-bottom: 10px; }
.Table04Block table tr td .AboutBoxText .TitNaming { font-size: 15px; color: #333333; }
.Table04Block table tr td .AboutBoxText .DescribeList { font-size: 13px; padding: 0px 0px 34px 13px; }
.Table04Block table tr td .AboutBoxText .MetaData { position: absolute; left: 4%; bottom: 30px; }
.Table05Block table tr th { width: 170px; vertical-align: top; }
.Table05Block table tr td { width: 570px; position: relative; vertical-align: top; }
.Table05Block table tr td .AboutBoxText { margin-left: 24px; }
.Table05Block table tr td .AboutBoxText .TitleDept { font-size: 16px; font-weight: bold; color: #333333; margin-bottom: 10px; }
.Table05Block table tr td .AboutBoxText .TitNaming { font-size: 15px; color: #333333; }
.Table05Block table tr td .AboutBoxText .DescribeList { font-size: 13px; padding: 0px 0px 34px 13px; }
.Table05Block table tr td .AboutBoxText .MetaData { position: absolute; left: 4%; bottom: 0; }
.Table04Block { width: 765px; }
.Table05Block { width: 765px; }

@media screen and (min-width: 769px){
    .T3IndexList ul li a:hover { text-decoration: underline; color:#fbb34d; }
    .T4ClmBox .TxtRight .TitWrap a:hover { color:#fbb34d; }
}
@media screen and (max-width:768px) {
    table.TableStyle01 th,
    table.TableStyle01 td { padding: 10px; }
    table.TableStyle01 thead th.col-1 { width:45%; }

    table.TableCountry th { width:60px; }

    .T3IndexList > div { width:auto !important; float:none !important; }

    .T4ClmBox > div { height:142px; }
    .T4ClmBox .TxtRight { width:auto !important; float:none; }
    .T4ClmBox .TxtRight .TitWrap .Tit { font-size:15px; }
    .T4ClmBox .TxtRight .TitWrap .Txt { font-size:13px; }
    .T4ClmBox.SizeA .ImgLeft { width:100px; }
    .T4ClmBox.SizeA .TxtRight { margin-left:110px; }
    .T4ClmBox.SizeB .ImgLeft { width:142px; }
    .T4ClmBox.SizeB .TxtRight { margin-left:152px; }
}

/*--------------------------------------------------------
ContForm
---------------------------------------------------------*/
.ContForm { }
.ContForm table { width: 100%; }
.ContForm table tr th { width: 200px; padding: 10px; vertical-align: top; }
.ContForm table tr td { width: 565px; padding: 10px; }
.ContForm .Color_r { color: #FF0033; }
.ContForm table input[type="text"] { width: 300px; height: 30px; border: 1px solid #858585; }
.ContForm table span { float: right; margin-right: 16px; }
.ContForm table .Error { color: #FF0000; }
.ContForm table .FormRadio { width: 100px; float: left; }
.ContForm table input.Error { border: 1px solid #FF0000; }
.ContForm table select { width: 200px; height: 30px; }
.ContForm table input[type="checkbox"] { vertical-align: middle; border: 1px solid #858585; }
.ContForm table textarea { width: 400px; height: 200px; border: 1px solid #858585; }
.ContForm table input[type="submit"] { width: 150px; height: 40px; background: #00b0f0; border: none; outline: none; cursor: pointer; }
.ContForm table .FormButtom { width: 400px; }
.ContForm table .SubmitBtn { display: block; width: 150px; cursor: pointer; }

@media screen and (max-width:768px) {
    .ContForm table tr th { width: 26%; padding: 10px 5px; }
    .ContForm table tr td { width: 74%; padding: 10px; }
    .ContForm table input[type="text"] { width: 73%; height: 30px; }
    .ContForm table textarea { width: 100%; height: 200px; }
    .ContForm table span { float: none; margin-right: 0px; }
}

/*--------------------------------------------------------
Map
---------------------------------------------------------*/
.MapBlock { text-align: center; }
.MapBlock iframe { width: 600px; height: 350px; margin: 0 auto; }

@media screen and (max-width:768px) {
    .MapBlock { height: 50%; }
    .MapBlock iframe { width: 100%; }
}

/*--------------------------------------------------------
Youtube
---------------------------------------------------------*/
.MovieBlock { width: 275px; margin: 0 auto; }

@media screen and (max-width:768px) {
    .MovieBlock { width: 36%; }
}

/*--------------------------------------------------------
FAQ
---------------------------------------------------------*/
.FAQ .iconqa { position: relative; }
.FAQ .icon_Question { font-size: 20px; font-weight: bold; padding-left: 42px; margin-bottom: 15px; }
.FAQ .icon_Question:before { content: ""; width: 22px; height: 22px; position: absolute; top: 0px; left: 0px; background: url(../images/icon_Q.jpg) no-repeat; margin-top: 4px; }
.FAQ .icon_Answer { padding-left: 42px; }
.FAQ .icon_Answer:before { content: ""; width: 22px; height: 22px; position: absolute; top: 0px; left: 0px; background: url(../images/icon_A.jpg) no-repeat; }

/*--------------------------------------------------------
History (Newsと同じ)
---------------------------------------------------------*/
.NewsBody { margin-bottom: 0px; }
.NewsBody ul.NewsList { margin-bottom: 45px; }
.NewsBody ul.NewsList li { margin-bottom: 18px; }
.NewsBody ul.NewsList li dl { display: table; }
.NewsBody ul.NewsList li dt { width: 107px; font-size: 20px; font-weight: bold; color: #022f54; display: table-cell; vertical-align: middle; }
.NewsBody ul.NewsList li dd { width: 635px; border-left: 1px solid #e5e5e5; font-size: 13px; color: #222222; line-height: 18px; padding: 10px 23px 11px 39px; display: table-cell; vertical-align: middle; }
.NewsBody ul.NewsList li dd a { display: block; }
.NewsBody ul.NewsList li dd a:hover { text-decoration: underline; }

@media screen and (max-width:768px) {
    .NewsBody ul.NewsList li dl { display: block; }
    .NewsBody ul.NewsList li dt { width: 100%; display: block; font-size:16px; padding: 5px 0; }
    .NewsBody ul.NewsList li dd { width: 100%; border-top: 2px solid #e5e5e5; border-left: none; padding: 10px 0; display: block; }
}

/*-----------------------------------------------------
MovieModal
------------------------------------------------------*/
#MovieModal { position: fixed; left: 0; top: 0; width: 100%; height: 120%; background-color: rgba(0, 0, 0, 0.7); z-index: 1000; cursor: pointer; }
#MovieModal iframe { position: fixed; left: 0; top: 0; right: 0; bottom: 0; margin: auto; }

@media screen and (max-width:768px) {
    #MovieModal .FrameWrap { position: fixed; width: 83.3%; padding-top: 46.8%; height: 0; left: 0; top: 0; right: 0; bottom: 0; margin: auto; }
    #MovieModal iframe { width: 100% !important; height: 100% !important; position: absolute; }
}
