@font-face {
    font-family: 'icon-tokai';
    src:    url('../fonts/icon-tokai.eot?5quv5p');
    src:    url('../fonts/icon-tokai.eot?5quv5p#iefix') format('embedded-opentype'),
        url('../fonts/icon-tokai.ttf?5quv5p') format('truetype'),
        url('../fonts/icon-tokai.woff?5quv5p') format('woff'),
        url('../fonts/icon-tokai.svg?5quv5p#icon-tokai') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-tokai' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-after-"]:after, [class*=" icon-after-"]:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-tokai' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ArrowLeft:before {
    content: "\e900";
}
.icon-ArrowRight:before {
    content: "\e901";
}
.icon-ArrowUp:before {
    content: "\e902";
}
.icon-ArrowDown:before {
    content: "\e903";
}
.icon-ArrowPrev:before {
    content: "\e904";
}
.icon-ArrowNext:before {
    content: "\e905";
}
.icon-Search:before {
    content: "\e906";
}
.icon-Student:before {
    content: "\e907";
}
.icon-Alumni:before {
    content: "\e908";
}
.icon-Access:before {
    content: "\e909";
}
.icon-Sitemap:before {
    content: "\e90a";
}
.icon-Download:before {
    content: "\e90b";
}
.icon-Faq:before {
    content: "\e90c";
}
.icon-Contact:before {
    content: "\e90d";
}
.icon-Facebook:before {
    content: "\e90e";
}
.icon-Movie:before {
    content: "\e90f";
}
.icon-Birthday:before {
    content: "\e910";
}
.icon-Research:before {
    content: "\e911";
}
.icon-Option:before {
    content: "\e912";
}
.icon-Blank:before {
    content: "\e913";
}
.icon-TokaiLogo:before {
    content: "\e915";
}
.icon-AcuteTriangleDown:before {
    content: "\e917";
}
.icon-TriangleDown:before {
    content: "\e916";
}
.icon-PDF:before {
    content: "\e914";
}
.icon-Word:before {
    content: "\e918";
}
.icon-Excel:before {
    content: "\e919";
}
.icon-PowerPoint:before {
    content: "\e91a";
}
.icon-Zip:before {
    content: "\e91b";
}
