@charset "utf-8";

/*-----------------------------------------------------
Base Layout Style
------------------------------------------------------*/
@media screen and (min-width: 769px){
.SP { display:none !important; }
.SP_inline { display:none !important; }
.PC { display:block; }
.PC_inline { display:inline; }
}

/* =========================================================
Link Style
========================================================= */
a:link, a:visited, a:hover, a:active  { color: #222; text-decoration: none; }
@media screen and (min-width: 769px){
a:visited { color: #666; text-decoration: none; }
a:hover   { color: #fbb34d; text-decoration: none; }
a img { opacity:1; transition:opacity .3s; }
a:hover img { opacity:.8; }
}

/* =========================================================
Basic
========================================================= */
html { -webkit-text-size-adjust:none; }
img.rollover2 { opacity:1.0 !important; }
input [type=image]:hover { opacity:0.8; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: ;box-sizing: border-box; }
body { background:#fff; font-size: 13px; font-family: Arial,Helvetica,Chicago,Verdana,Sans-serif; line-height:1.5; color:#222; -webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); tap-highlight-color: rgba(0, 0, 0, 0); }
img { max-width: 100%; height: auto; vertical-align:top; display:block; }
.cFix:after { display:block; content:""; clear:both; height:0; font-size:0; visibility:hidden; }
input[type="button"], input[type="text"], input[type="search"], input[type="submit"], textarea { -webkit-appearance: none; border-radius: 0; }
@media screen and (min-width: 769px){
	body { min-width:1100px; overflow:hidden; }
}

/* =========================================================
Head
========================================================= */
#Head { position: relative; z-index: 100; }
#Head .HeadInner { width: 1100px; position:relative; margin: 0 auto; padding-bottom: 19px; z-index: 101; }
#Head .LogoArea { width: 388px; float: left; margin-top: 19px; }
#Head .LogoArea a { display:block; opacity:1; }
#Head .LogoArea a img { opacity:1; }
#Head .HeadNavWrap { float: right; font-size: 14px; width: 347px; padding-top: 12px; }

#Head .LanguageAndSearch { margin-bottom: 16px; position: relative; z-index: 5; }
#Head .LanguageAndSearch .LanguageSelect { position: relative; width: 126px; }
#Head .LanguageAndSearch .LanguageSelect .SelectBtn { width:126px; background:#aeaeae; }
#Head .LanguageAndSearch .LanguageSelect .SelectBtn a { height:28px; display: block; position:relative; color:#fff; font-size:13px; padding:4px 0 0 27px; }
#Head .LanguageAndSearch .LanguageSelect .SelectBtn a.icon-after-ArrowDown:after { font-size:10px; position:relative; left:3px; top:1px; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList { width:72px; position:absolute; right:0; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li { position:relative; overflow:hidden; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li a { display: block; height:26px; background: #fff; border:solid 1px #d8d8d8; border-top:none; color:#313131; text-align: center; line-height: 26px; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li.en a,
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li a:hover { color:#fbb34d; }

#Head .LanguageAndSearch .LanguageSelect:hover .SelectBtn { background:#d8d8d8; }
#Head .LanguageAndSearch .LanguageSelect:hover ul.LanguageList { display: block; }

/* SearchBox */
#Head #SearchBox{ width:213px; height:28px; background:#eaeaea; position:absolute; right:0; top:12px; z-index:10; }
#Head #SearchBox input.HeadSearchInput{ width:100%; background:transparent; border:none; height:28px; color:#555555; padding-left:7px; outline:none; padding:0 28px 0 7px; }
#Head #SearchBox button.HeadSearchSubmit{ width:26px; position:absolute; right:0; top:0; border:none; background:none; font-size:18px; font-family:icon-tokai; color:#4c4c4c; height:28px; outline:none; cursor:pointer; }

#Head .HeadNav ul.NavParent > li { float: left; position: relative; }
#Head .HeadNav ul.NavParent > li:first-child { margin-right: 34px; z-index:1; }
#Head .HeadNav ul.NavParent > li:last-child { float:right; }
#Head .HeadNav ul.NavParent > li a { display: inline-block; color: #666; line-height: 20px; }
#Head .HeadNav ul.NavParent > li a:before { position:absolute; left:0; color:#aaa; }
#Head .HeadNav ul.NavParent > li:hover > a,
#Head .HeadNav ul.NavParent > li:hover a:before { color:#fbb34d; }
#Head .HeadNav a.icon-Student { padding-left: 22px; position: relative; letter-spacing: 0.2px; }
#Head .HeadNav a.icon-Student:before { font-size: 19px; margin-right: 2px; }
#Head .HeadNav a.icon-Alumni { padding-left: 25px; }
#Head .HeadNav a.icon-Alumni:before { font-size: 15px; top:3px; margin-right: 3px; }
#Head .HeadNav a.icon-Access { padding-left: 20px; }
#Head .HeadNav a.icon-Access:before { font-size: 22px; }
#Head .HeadNav a.icon-after-ArrowDown:after { font-size: 10px; color:#fbb34d; position: relative; padding-left: 5px; }

#Head .HeadNav ul.NavChild { width:210px; position:absolute; right:0; padding-top:10px; }
#Head .HeadNav ul.NavChild li { position:relative; overflow:hidden; }
#Head .HeadNav ul.NavChild li a { display: block; height:33px; background:#fff; border:solid 1px #d8d8d8; border-top:none; line-height:33px; color:#313131; overflow: hidden; padding-left:10px; }
#Head .HeadNav ul.NavChild li:first-child a { border-top:solid 1px #d8d8d8; }
#Head .HeadNav ul.NavChild li a:hover { color:#fbb34d; }

#Head .HeadNav li.Student:hover ul.NavChild,
#Head .HeadNav li.Alumni:hover ul.NavChild { display: block; }
#Head .HeadNav li.Alumni ul.NavChild { width:246px; }

@media screen and (min-width: 769px){
	/* animation set */
	#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li,
	#Head .HeadNav li.ParentLi ul.NavChild li { height:0; transition:height .3s; }

	#Head .LanguageAndSearch .LanguageSelect:hover ul.LanguageList li { height:26px; }
	#Head .HeadNav li.ParentLi:hover ul.NavChild li { height:33px; }
}

/* =========================================================
GlobalNav
========================================================= */
@media screen and (min-width: 769px){
	#GlobalNav { height:60px; background: #054488; position:relative; z-index:100; }
	#GlobalNav .GlobalNavInner { width: 1100px; margin: 0 auto; }
	#GlobalNav ul.NavParent > li { width: 220px; float: left; text-align: center; font-size: 18px; }
	#GlobalNav ul.NavParent > li > a { color: #fff; display: block; position:relative; text-shadow: 0px 2px 0px #09325f; height: 60px; position:relative; padding-top: 19px; font-size: 16px; letter-spacing: 0.5px; transition: background .3s; }
	#GlobalNav ul.NavParent > li a .line,
	#GlobalNav ul.NavParent > li > a:after { content:""; display:block; width:1px; height:20px; position:absolute; right:0; top:20px; border-left: 1px solid #2a5c92; }
	body.PageAboutTokai #GlobalNav ul.NavParent > li:nth-child(1) > a,
	body.PageAdmissions #GlobalNav ul.NavParent > li:nth-child(2) > a,
	body.PageAcademics #GlobalNav ul.NavParent > li:nth-child(3) > a,
	body.PageResearch #GlobalNav ul.NavParent > li:nth-child(4) > a,
	body.PageCampusLife #GlobalNav ul.NavParent > li:nth-child(5) > a,
	#GlobalNav ul.NavParent > li:hover > a { background: #0066cc; }
	#GlobalNav ul.NavParent > li a .line { left:0; right:inherit; }

	#GlobalNav .MegaNav { width:100%; background:rgba(255,255,255,0.95); position:absolute; left:0; box-shadow:0 2px 10px rgba(0,0,0,0.2); padding:30px 0 20px; }
	#GlobalNav .MegaNav:before { content:""; display:block; width:100%; position:absolute; left:0; top:-10px; box-shadow:0 5px 10px rgba(0,0,0,0.2); height:10px; z-index:1;  }
	#GlobalNav .MegaNav ul { width:1100px; margin:0 auto; }
	#GlobalNav .MegaNav ul li { width:275px; float:left; text-align: left; margin-bottom:6px; }
	#GlobalNav .MegaNav ul li a { display:inline-block; font-size:15px; font-weight:bold; color:#565656; line-height:20px; padding:5px 0; }
	#GlobalNav .MegaNav ul li a:after { font-size:10px; color:#fbb34d; position:relative; padding-left:10px; }
	#GlobalNav .MegaNav ul li a:hover { color:#fbb34d; }

	#GlobalNav ul.NavParent > li:hover .MegaNav { display: block; }
	#GlobalNav .MegaNav ul.NavGrandChild { display: none !important; }

	/* animation set */
	#GlobalNav .MegaNav { display: block !important; visibility: hidden; opacity:0; transition:visibility 0.5s, opacity 0.5s; }
	#GlobalNav ul.NavParent > li:hover .MegaNav { visibility: visible; opacity:1; }
}

/* =========================================================
Main
========================================================= */
#Main .MainInner { width: 1100px; margin: 0 auto; padding: 80px 0 70px; }
#Cont { width: 765px; float: right; }

/* =========================================================
Lside
========================================================= */
#Lside { width: 275px; float: left; }

/* .NewsArchiveList */
#Lside .NewsArchiveList ul { border-top: 1px solid #e5e5e5; }
#Lside .NewsArchiveList li { border-bottom: 1px solid #e5e5e5; }
#Lside .NewsArchiveList li:hover { background-color: #e5e5e5; }
#Lside .NewsArchiveList li a { display: block; font-size: 16px; color: #222222; line-height: 26px; padding: 18px 16px 16px 16px; }
#Lside .NewsArchiveList li a.current,
#Lside .NewsArchiveList li a:hover { font-weight: bold; background-color: #efefef; }

/* .LsideNav */
#Lside .LsideNav .LsideList { border-top: 1px solid #e5e5e5; }
#Lside .LsideNav .LsideList > li { border-bottom: 1px solid #e5e5e5; }
#Lside .LsideNav .LsideList > li a:hover,
#Lside .LsideNav .LsideList > li a.active,
#Lside .LsideNav .LsideList > li > a.Current { background-color: #efefef; }
#Lside .LsideNav .LsideList > li a { display: block; position: relative; font-size: 16px; color: #222222; line-height: 26px; padding: 18px 16px 16px 16px; }
#Lside .LsideNav .LsideList > li a i { display: block; width:50px; height:60px; position: absolute; top: 0; right: 0; font-family:icon-tokai; font-size: 14px; font-style:inherit; color: #333333; line-height:60px; text-align: center; padding-top:2px; }
#Lside .LsideNav .LsideList .LsideSubList { display: none; }
#Lside .LsideNav .LsideList .LsideSubList > li { border-bottom: 1px dashed #e5e5e5; }
#Lside .LsideNav .LsideList .LsideSubList > li:last-child { border-bottom: none; }
#Lside .LsideNav .LsideList .LsideSubList > li a { display: block; background-color:#fff; font-size: 12px; color: #222222; line-height: 16px; padding: 9px 15px 8px; }
#Lside .LsideNav .LsideList .LsideSubList > li a:hover,
#Lside .LsideNav .LsideList .LsideSubList > li a.Current { background-color:#f5f5f5; }
#Lside .LsideDespList ul li { margin-top: 30px; }
#Lside .LsideDespList ul li a { display: block; }

/* =========================================================
Top
========================================================= */
#PageTop { width:38px; position:absolute; left:50%; margin-left:511px; margin-top:-69px; z-index:50; }
#PageTop a { display: block; height:38px; background:#efe9da; font-size: 14px; font-family:icon-tokai; color: #022f54; text-align: center; padding-top: 8px; }
#PageTop a:hover { background: #cdc8bc; }

#PageTop { transition:visibility .5s, opacity .5s; }
#PageTop.active { position:fixed; bottom:50px; opacity:1; }
#PageTop.activeTop { visibility: hidden; opacity:0; }
#FootWrap.fixed #PageTop.activeTop { visibility: visible; opacity:1; position: absolute; bottom: initial; }

/* =========================================================
Breadcrumbs
========================================================= */
.Breadcrumbs { background: #42607e; }
.Breadcrumbs ul { width:1100px; padding:14px 0; margin:0 auto; }
.Breadcrumbs ul li { display:inline-block; position:relative; color:#fff; white-space: nowrap; line-height:18px; /* overflow:hidden; */ padding-left:20px; margin-left:10px; }
.Breadcrumbs ul li a { display:inline-block; color:#fff; line-height:18px; }
.Breadcrumbs ul li:first-child { padding-left:0; margin-left:0; }
.Breadcrumbs ul li:first-child a { position:relative; top:2px; font-family:icon-tokai; font-size:17px; }
.Breadcrumbs ul li.icon-ArrowNext:before { position:absolute; top:-1px; left:0; font-size:19px; color:#83a1bf; }
.Breadcrumbs ul li:hover a { color:#86867c; }
/*.Breadcrumbs ul li:last-child { width: 600px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }*/

/* =========================================================
Foot
========================================================= */
#Foot a { color: #efe9da; }
#Foot a:hover { color: #86867c; }
#Foot .FootNavArea { width: 100%; background: #2e3c4a; padding: 67px 0 48px; }
#Foot .FootUpperArea { width: 1100px; margin: 0 auto; padding-bottom: 44px; }
#Foot .FootUpperArea > nav { float: left; }
#Foot .FootUpperArea .NavTitle { color: #efe9da; font-size: 16px; font-weight: bold; }
#Foot .FootUpperArea ul.NavList { margin-top: 9px; }
#Foot .FootUpperArea ul.NavList li { position: relative; padding-left: 12px; line-height: 24px; font-size: 13px; letter-spacing: 0; }
#Foot .FootUpperArea ul.NavList li:before { content: ""; display: block; width: 7px; height:1px; position: absolute; left: 0px; top: 11px; background: #74726d; }

#Foot .FootUpperArea .NavAbout { width: 241px; }
#Foot .FootUpperArea .NavAdmissions { width: 243px; }
#Foot .FootUpperArea .NavAcademics { width: 247px; }
#Foot .FootUpperArea .NavAcademics ul.NavList { margin-left: 2px; }
#Foot .FootUpperArea .NavResearch { width: 231px; }
#Foot .FootUpperArea .NavCampus { width: 138px; }
#Foot .FootUpperArea .NavCampus ul.NavList { margin-left: 4px; }

#Foot .FootLowerArea { width: 1100px; margin: 0 auto; }
#Foot .FootLowerArea .NavLeft { width: 484px; float: left; }
#Foot .FootLowerArea .NavLeft ul.NavList { width: 242px; float: left; }
#Foot .FootLowerArea .NavLeft ul.NavList li a { line-height: 1.8; font-size: 15px; letter-spacing: -0.3px; }

#Foot .FootLowerArea .NavRight { width: auto; margin-top: 4px; float: right; }
#Foot .FootLowerArea .NavRight li { width:auto; float: left; position: relative; margin-left:20px; }
#Foot .FootLowerArea .NavRight li:first-child { margin-left:0; }

/*#Foot .FootLowerArea .NavRight li.last { float: right; }*/

#Foot .FootLowerArea .NavRight li a { display: block; font-weight: bold; font-size: 15px; letter-spacing: 0.4px; }
#Foot .FootLowerArea .NavRight li a:before { position: absolute; left:0; color: #efe9da; }
#Foot .FootLowerArea .NavRight li a.icon-Sitemap { padding-left: 22px; }
#Foot .FootLowerArea .NavRight li a.icon-Sitemap:before { top: 4px; font-size: 11px; }
#Foot .FootLowerArea .NavRight li a.icon-Access { padding-left: 14px; }
#Foot .FootLowerArea .NavRight li a.icon-Access:before { top: 2px; }
#Foot .FootLowerArea .NavRight li a.icon-Download { padding-left: 15px; }
#Foot .FootLowerArea .NavRight li a.icon-Download:before { top: 3px; font-size: 13px; }
#Foot .FootLowerArea .NavRight li a.icon-Faq { padding-left: 23px; }
#Foot .FootLowerArea .NavRight li a.icon-Faq:before { top: 4px; font-size: 12px; }
#Foot .FootLowerArea .NavRight li a.icon-Contact { padding-left: 19px; }
#Foot .FootLowerArea .NavRight li a.icon-Contact:before { top: 5px; font-size: 10px; }
#Foot .FootLowerArea .NavRight li a:hover:before { color: #86867c; }

#Foot .FootInfo { width: 100%; background: #054488; padding: 24px 0 16px 0; }
#Foot .FootInfoInner { width: 1100px; margin: 0 auto; }
#Foot .FootInfo .SocialNav { padding-top: 0px; width: auto; float: left; }
#Foot .FootInfo .SocialNav li { float: left; }
#Foot .FootInfo .SocialNav a { display: block; color: #fff; }
#Foot .FootInfo .SocialNav a:hover { color: #aaa; }
#Foot .FootInfo .SocialNav a.icon-Facebook { font-size: 27px; margin-left: 15px; }
#Foot .FootInfo .SocialNav a.icon-Movie { font-size: 24px; margin-left: 20px; margin-top: 2px; }
#Foot .FootInfo .SocialNav span { display: none; }
#Foot .FootInfo .InfoBlock { width:auto; color: #dadada; text-align: right; line-height: 1.4; font-size: 12px; margin-bottom: 5px; float:right; }
#Foot .FootInfo .InfoBlock address { display: block; margin-bottom: 5px; letter-spacing: 0.9px; white-space:nowrap; }
#Foot .FootInfo .InfoBlock small { display: block; font-size: 12px; letter-spacing: 1px; }


@media screen and (max-width: 768px){
.SP { display:block; }
.SP_inline { display:inline; }
.PC { display:none !important; }
.PC_inline { display:none !important; }

body { padding-top:43px; }
.Overlay { visibility: hidden; position:fixed; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,0.1); z-index:99; opacity:0; transition:visibility .3s, opacity .3s; }
body.OPEN_Search .Overlay,
body.OPEN .Overlay { visibility: visible; opacity:1; }

/* =========================================================
Head
========================================================= */
#Head { width:100%; position:fixed; top:0; left:0; }
#Head .HeadInner { width: auto; height:43px; margin: 0 auto; padding-bottom:0; background: #fff; }
#Head .LogoArea { width:190px; float: none; margin:0 auto; padding-top:8px; }
#Head #SpSearchBtn { width:46px; position:absolute; right:0; top:0; border:none; background:none; font-size: 24px; font-family:icon-tokai; color: #a5a5a5; }
#Head #SpSearchBtn a { height:43px; display:block; line-height:43px; text-align:center; color:#a5a5a5; }

/* LanguageSelect and HeadNav */
#Head .HeadNavWrap { width: 100%; float: none; position: absolute; top: 0; right: 100%; height: 43px; z-index: 11; visibility: hidden; transition:visibility .3s, right .3s; }
body.OPEN #Head .HeadNavWrap { visibility:visible; right: 0; }
#Head .HeadNavWrap .HeadNavSlide { width: auto; float: none; background:#fff; position: absolute; top: 0; left: 0; padding: 8px 0 0 22px; height: 43px; right: 46px; }
#Head .HeadNavWrap .HeadNavSlideInner { width: auto; float: left; position:relative; }

/* SpMenuBtn */
#Head #SpMenuBtn { width: 46px; position: absolute; top: 0; background:#fff; transition:all .3s; left: 0; z-index: 20; }
body.OPEN #Head #SpMenuBtn { left:100%; transition:all .3s; margin-left:-46px; background:#f4f4f4; }
#Head #SpMenuBtn a { display: block; width: 46px; height: 43px; }
#Head #SpMenuBtn a i { display:block; width:26px; height:3px; background:#a5a5a5; position:relative; left:10px; top:20px; transition:background 0.5s; }
#Head #SpMenuBtn a i:before,
#Head #SpMenuBtn a i:after { content:""; display:block; width:26px; height:3px; background:#a5a5a5; position:absolute; transform:rotate(0deg); transition:all 0.3s !important; }
#Head #SpMenuBtn a i:before { transform: translateY(-8px); -webkit-transform: translateY(-8px); }
#Head #SpMenuBtn a i:after { transform: translateY(8px); -webkit-transform: translateY(8px); }
body.OPEN #Head #SpMenuBtn a i:before { transform: translateY(0px); -webkit-transform: translateY(0px); transform: rotate(45deg); -webkit-transform: rotate(45deg); }
body.OPEN #Head #SpMenuBtn a i:after { transform: translateY(0px); -webkit-transform: translateY(0px); transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
body.OPEN #Head #SpMenuBtn a i { background:none; }

#Head .LanguageAndSearch { width:90px; float:left; margin:0 13px 0 0; }
#Head .LanguageAndSearch .LanguageSelect { position: relative; width: auto; }
#Head .LanguageAndSearch .LanguageSelect .SelectBtn { width:auto; background:#aeaeae; }
#Head .LanguageAndSearch .LanguageSelect .SelectBtn a { height:27px; font-size:12px; text-align: center; padding:5px 0; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList { width:100%; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li:first-child a { border-top:solid 1px #d8d8d8; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li a { font-size:13px; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li a:hover { color:#313131; }
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li.en a { color:#fbb34d; }

#Head .HeadNav { width:auto; float:left; padding-top:0px; height:27px; }
#Head .HeadNav ul.NavParent > li { position: static; text-align: center; height: 27px; }
#Head .HeadNav ul.NavParent > li:first-child { margin-right: 0; }
#Head .HeadNav ul.NavParent > li a { display: block; line-height: 1; font-size: 11px; letter-spacing: -0.5px; height: 27px; position: relative; padding: 3px 8px 0 0; display: block; text-align: center; }
/*
#Head .HeadNav ul.NavParent > li.Alumni a { padding-right:20px; }
#Head .HeadNav ul.NavParent > li.Alumni a.icon-after-ArrowDown:after { right:12px; }
*/
#Head .HeadNav ul.NavParent > li a span { display:inline-block; }
#Head .HeadNav ul.NavParent > li a:before { position:relative; }
#Head .HeadNav a.icon-Student { padding-left:0; width:90px; }
#Head .HeadNav a.icon-Student:before { margin-right: 4px; }
#Head .HeadNav a.icon-Alumni { padding-left:0; width:90px; }
#Head .HeadNav a.icon-Access { padding-left:0; width:54px; }
#Head .HeadNav a.icon-Access:before { font-size: 18px; top: 1px; margin-right: 2px; }
#Head .HeadNav ul.NavChild { width:100% !important; padding-top:0px; }
#Head .HeadNav ul.NavChild li { position:static; }
#Head .HeadNav ul.NavChild li a { display: block; height:34px; background:#fff; border:solid 1px #d8d8d8; border-top:none; line-height:33px; color:#313131; overflow: hidden; padding-left:10px; text-align: left; }
#Head .HeadNav ul.NavChild li:first-child a { border-top:solid 1px #d8d8d8; }
#Head .HeadNav ul.NavChild li a:hover { color:#313131; }

#Head .HeadNav a.icon-Studenticon-after-ArrowDown:after { top:0px; }
#Head .HeadNav a.icon-Alumniicon-after-ArrowDown:after { top:0px; }
#Head .HeadNav a.icon-Accessicon-after-ArrowDown:after { top:0px; }
#Head .HeadNav a.icon-after-ArrowDown:after { font-size: 10px; padding-left: 2px; position: absolute; right: 8px; top: 50%; margin-top: -4px;; }

/* animation set */
#Head .LanguageAndSearch .LanguageSelect ul.LanguageList li,
#Head .HeadNav li.ParentLi ul.NavChild li { height:0; transition:height .3s; }

#Head .LanguageAndSearch .LanguageSelect.active .SelectBtn { background: #d8d8d8; transition:background .3s; }
#Head .HeadNav li.ParentLi.active { background: #ebebeb; transition:background .3s; }
#Head .HeadNav li.ParentLi.active > a { color: #e5911a; transition:color .3s; height: 27px; }

#Head .LanguageAndSearch .LanguageSelect.active ul.LanguageList li { height:26px; }
#Head .HeadNav li.ParentLi.active ul.NavChild li { height:34px; }

/* SearchBox */
#Head #SearchBox { width:100%; height:0; top:100%; overflow:hidden; transition: height .3s; }
#Head #SearchBox form { padding:5px; }
#Head #SearchBox input.HeadSearchInput { width:100%; background:#fff; border:none; height:30px; padding-right:35px; }
#Head #SearchBox button.HeadSearchSubmit { width:30px; right:7px; top:5px; font-size:24px; color:#004ea2; height:30px; }
/* animation set */
#Head #SearchBox.active { height:40px; }

@media screen and (max-width: 360px){
#Head .LanguageAndSearch { margin-right:8px; }
#Head .HeadNavWrap .HeadNavSlide { padding-left:8px; }
#Head .LanguageAndSearch { width:80px; }
}
@media screen and (max-width: 320px){
#Head .LanguageAndSearch { margin-right:4px; }
#Head .HeadNav ul.NavParent > li.Alumni a.icon-Alumni { width:80px; padding-right:12px; }
#Head .HeadNav ul.NavParent > li.Alumni a.icon-after-ArrowDown:after { right:5px; }
}

/* =========================================================
GlobalNav
========================================================= */
#GlobalNav { width:100%; position:absolute; z-index:99; top:100%; right:100%; visibility: hidden; transition:visibility .3s, right .3s; }
body.OPEN #GlobalNav { visibility: visible; right:0; }
body.OPEN #GlobalNav .GnavSpacer { width:46px; position:absolute; top:0; right:0; bottom:0; }
body.OPEN #GlobalNav.scroll { overflow-y:scroll; }
#GlobalNav .GlobalNavInner { position:absolute; left:0; right:46px; background:#fff; box-shadow:0 0 30px rgba(0,0,0,0.35); overflow: hidden; }
#GlobalNav ul.NavParent > li { font-size: 18px; }
#GlobalNav ul.NavParent > li > a { border-bottom: solid 1px #ddd; }
#GlobalNav ul.NavParent > li:last-child > a { border-bottom:none; }
#GlobalNav ul.NavParent > li > a { color: #fff; display: block; position:relative; position:relative; font-size: 15px; letter-spacing: 0.5px; background: #054488; padding: 11px 10px 11px 22px; }
#GlobalNav ul.NavParent > li > a.icon-after-ArrowDown:after { font-size:12px; color:#fff; position:absolute; top:50%; right:21px; margin-top:-5px; }

#GlobalNav .MegaNav ul li { text-align: left; border-bottom: solid 1px #ddd; }
#GlobalNav .MegaNav ul li a { display:block; font-size:12px; font-weight:bold; color:#222; line-height:18px; padding:8px 50px 8px 22px; position:relative; }
#GlobalNav .MegaNav ul li a:after { display: none; font-size:10px; color:#fbb34d; position:absolute; top:50%; right:21px; margin-top:-4px; }
#GlobalNav .MegaNav ul li a.icon-after-ArrowRight.NavAco { position:relative; }
#GlobalNav .MegaNav ul li a.icon-after-ArrowRight.NavAco:after { display: none; }
#GlobalNav .MegaNav ul li a.icon-after-ArrowRight.NavAco i { width:50px; height:34px; position:absolute; top:0; right:0; font-family:icon-tokai; font-size:10px; font-style:inherit; color:#fbb34d; line-height:34px; text-align: center; }

#GlobalNav .MegaNav ul li a:hover { color:#222; }

#GlobalNav .MegaNav ul.NavGrandChild { display: none; }
#GlobalNav .MegaNav ul.NavGrandChild li { background:#f8f8f8; border-bottom:none; overflow:hidden; }
#GlobalNav .MegaNav ul.NavGrandChild li a { padding:6px 40px 6px 38px; }
#GlobalNav .MegaNav ul.NavGrandChild li a:after { color:#959595; }

/* =========================================================
Main
========================================================= */
#Main .MainInner { width: auto; padding:40px 0 60px; margin: 0 auto; }
#Cont { width:auto; float:none; }

/* =========================================================
Lside
========================================================= */
#Lside { width:auto; float:none; }
/* .NewsArchiveList */
#Lside .LsideNav { display: none; }
#Lside .LsideDespList { width:88.5%; margin:0 auto; }
#Lside .LsideDespList ul li a img { width:100%; }


/* =========================================================
PageTop
========================================================= */
#PageTop { width:38px; position:absolute; left:initial; right:5.75%; margin-left:0; margin-top:-38px; }
#PageTop a:hover { background: #efe9da; }

/* =========================================================
Breadcrumbs
========================================================= */
.Breadcrumbs { display: none; }

/* =========================================================
Foot
========================================================= */
#FootWrap.fixed { width:100%; position:fixed; left:0; bottom:0; }
#Foot .FootNavArea { padding: 0; }
#Foot .FootLowerArea { width: auto; }
#Foot .FootLowerArea .NavRight { width: auto; margin-top:0; float: none; }
#Foot .FootLowerArea .NavRight ul li { width:50%; border-bottom:solid 1px #434f5b; margin-left:0; }
#Foot .FootLowerArea .NavRight ul li:nth-child(2n+1) { border-right:solid 1px #434f5b; }

/*#Foot .FootLowerArea .NavRight ul li:nth-child(1),
#Foot .FootLowerArea .NavRight ul li:nth-child(2),
#Foot .FootLowerArea .NavRight ul li:nth-child(3) { width:33%; }
#Foot .FootLowerArea .NavRight ul li:nth-child(2) { width:34%; border-right:solid 1px #434f5b; }
#Foot .FootLowerArea .NavRight ul li:nth-child(3) { border-right:none; }
#Foot .FootLowerArea .NavRight ul li:nth-child(4) { border-right:solid 1px #434f5b; }
#Foot .FootLowerArea .NavRight ul li:nth-child(5) { border-right:none; }
*/
#Foot .FootLowerArea .NavRight ul li a { display: block; height:75px; text-align: center; font-size: 14px; letter-spacing: -0.5px; padding:17px 0 14px !important; }
#Foot .FootLowerArea .NavRight li a:before { display: block; position:relative; top:0 !important; left:0 !important; margin-bottom: 5px; }

#Foot .FootLowerArea .NavRight li a.icon-Sitemap:before { font-size: 26px; }
#Foot .FootLowerArea .NavRight li a.icon-Access:before { font-size: 25px; }
#Foot .FootLowerArea .NavRight li a.icon-Download:before { font-size: 20px; margin-bottom: 9px; }
#Foot .FootLowerArea .NavRight li a.icon-Faq:before { font-size: 21px; margin-bottom: 8px; }
#Foot .FootLowerArea .NavRight li a.icon-Contact:before { font-size: 19px; margin-bottom: 10px; }

#Foot .FootInfo { padding: 21px 0 16px 0; }
#Foot .FootInfoInner { width: auto; }
#Foot .FootInfo .SocialNav { padding-top: 0; float: none; margin-bottom: 13px; }
#Foot .FootInfo .SocialNav ul { text-align: center; }
#Foot .FootInfo .SocialNav li { float:none; display:inline-block; }
#Foot .FootInfo .SocialNav li:first-child { margin-right:103px; }
#Foot .FootInfo .SocialNav a { display: block; color: #fff; }
#Foot .FootInfo .SocialNav a:hover { color: #aaa; }
#Foot .FootInfo .SocialNav a.icon-Facebook { font-size: 32px; margin-left: 0; }
#Foot .FootInfo .SocialNav a.icon-Movie { font-size: 27px; margin-left: 0; margin-top: 0; }
#Foot .FootInfo .SocialNav span { display: none; }
#Foot .FootInfo .InfoBlock { width:auto; text-align: center; margin-bottom: 5px; float:none; }
#Foot .FootInfo .InfoBlock address { margin-bottom:9px; }


}
