@charset "utf-8";
.cFix:after { content: ''; clear: both; display: block; }
#web_movie { margin: 70px 0 55px 0; }
#web_movie .web_img { width: 472px; margin: 0 auto 15px; padding-left: 17px; }
#web_movie p { font-size: 16px; color: #000; text-align: center; margin-bottom: 15px; letter-spacing: 0.5px; padding-left: 19px; line-height: 26px; }
#web_movie p.web_txt { margin-bottom: 0px; }
.movie .h_movie { background-color: #f4ede2; border-top: 1px solid #7a7671; border-bottom: 1px solid #7a7671; text-align: center; margin-bottom: 30px; padding: 10px 0 11px 0; }
.movie .h_movie .movie_tit { font-size: 16px; font-weight: bold; color: #000; letter-spacing: 2px; padding-left: 17px; margin-bottom: 2px; }
.movie .h_movie .movie_txt { font-size: 14px; color: #505050; margin-bottom: 0; padding-left: 24px; letter-spacing: 0.6px;}
.movie .movie_block { margin-bottom: 32px; }
.movie .movie_in .movie_box { width: 296px; float: left; margin: 0 31px 24px 0; }
.movie .movie_in .movie_box a.cbox-item { display: block; margin-bottom: 5px; }
.movie .movie_in .movie_box p { color: #505050; font-size: 14px; line-height: 22px; }
.movie .movie_in .movie_box .movie_caption { text-align: center; margin-bottom: 12px; letter-spacing: 1px; }
.movie .movie_in .movie_box .movie_desp { margin-bottom: 0px; }
.movie .movie_in .movie_box p.desp_ls { letter-spacing: 0.5px; }
.movie .movie_in .box_last { margin-right: 0px; }
#modelhouse .movie_block { margin-bottom: 0px; }
#modelhouse .h_movie { margin-bottom: 36px; }