@charset "utf-8";

#ContEmergency, #ContCaution { width:870px; margin: 0 auto 50px; }

/*-----------------------------------------------------
News Index
------------------------------------------------------*/
.PageNewsIndex #Cont .NewsHead { position:relative; margin-bottom:29px; }
.PageNewsIndex #Cont .NewsHead .TitleStyle01 { margin-bottom:34px; }
.PageNewsIndex #Cont .NewsHead .NewsPager { width:auto; float:right; }

.PageNewsIndex #Cont .NewsBody ul.NewsList li dt { width: 130px; padding: 0 23px; }
.PageNewsIndex #Cont .NewsBody ul.NewsList li dd a:hover { text-decoration:underline; }
.PageNewsIndex #Cont .NewsBody .NewsPagerWrap .NewsPager { width:auto; float:right; }

.PageNewsIndex #Cont .NewsPager .PagerTit { width:auto; float:left; font-size:13px; color:#8c8c8c; margin-right:10px; padding-top:3px; }
.PageNewsIndex #Cont .NewsPager ul { width:auto; float:left; letter-spacing: -3px; }
.PageNewsIndex #Cont .NewsPager ul li { letter-spacing: normal; display: inline-block; margin: 0 1px; }
.PageNewsIndex #Cont .NewsPager ul li a,
.PageNewsIndex #Cont .NewsPager ul li span { padding: 4px 10px 3px; color: #c9c9c9; font-size: 18px;;; }
.PageNewsIndex #Cont .NewsPager ul li .current { border-top: 3px solid #022f54 !important; color: #022f54 !important; }
.PageNewsIndex #Cont .NewsPager ul li a:hover { background: #efefef; }

/*-----------------------------------------------------
News Detail
------------------------------------------------------*/
.PageNewsDetail .PostHead { margin-bottom:20px; }
.PageNewsDetail .PostHead .TitleStyle01 { margin-bottom:20px; }
.PageNewsDetail .PostHead .PostMeta { margin-bottom:10px; }
.PageNewsDetail .PostHead .PostMeta.label-News { }
.PageNewsDetail .PostHead .PostMeta .PostDate { width:auto; float:right; color: #8c8c8c; font-size: 15px; text-align: right; }
.PageNewsDetail .PostBody { margin-bottom:50px; }

.PageNewsDetail .ImgCaption{ padding: 14px 0 13.5px 20px; }
.PageNewsDetail .Text{ margin-bottom: 17px; }

/*-----------------------------------------------------
Emergency Index
------------------------------------------------------*/
.PageEmergencyIndex #ContEmergency .AnchorLink ul.FourCol li { width: 218px; }
.PageEmergencyIndex #ContEmergency .AnchorLink ul.FourCol li:nth-child(4n) { width: 170px; }
.PageEmergencyIndex #ContEmergency .ScrollBox > section { margin-bottom: 45px; }
.PageEmergencyIndex .ScrollBox h3.TitleStyle04 { margin-bottom: 26px; }
.PageEmergencyIndex #ContEmergency h3.EmergencyTitle { border-bottom: 2px solid #054488; font-size: 22px; margin-bottom: 20px; }
.PageEmergencyIndex #ContEmergency .EmergencyBody { margin-bottom: 50px; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li { margin-bottom: 18px; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li dl { display: table; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li dt { width: 155px; font-size: 20px; font-weight: bold; color: #022f54; display: table-cell; vertical-align: middle; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li dd { border-left: 1px solid #e5e5e5; font-size: 15px; color: #222222; line-height: 18px; padding: 10px 23px 11px 39px; display: table-cell; vertical-align: middle; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li dd a { display: block; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li dd a:hover { text-decoration: underline; }
.PageEmergencyIndex #ContEmergency .AnchorLink { margin-bottom: 60px; }

/*-----------------------------------------------------
Emergency Detail
------------------------------------------------------*/
.PageEmergencyDetail .PostHead .PostMeta .PostDate { float: left; }

/*-----------------------------------------------------
Caution Index
------------------------------------------------------*/
.PageCautionIndex #ContCaution .CautionBody { margin-bottom: 50px; }
.PageCautionIndex #ContCaution .CautionBody ul.CautionList li { margin-bottom: 50px; }

/*-----------------------------------------------------
Caution Detail
------------------------------------------------------*/

@media screen and (max-width: 768px){
#Cont, #ContEmergency, #ContCaution { width: 88.5%; margin: 0 auto 50px; }
.TitleStyle01 { margin-bottom: 30px; }

/*-----------------------------------------------------
News Index
------------------------------------------------------*/
.PageNewsIndex #Cont .NewsHead { margin-bottom:29px; }
.PageNewsIndex #Cont .NewsHead .TitleStyle01 { margin-bottom:34px; }
.PageNewsIndex #Cont .NewsBody ul.NewsList li dt { width: 100%; padding: 5px 0; }
.PageNewsIndex #Cont .NewsBody .NewsPagerWrap .NewsPager { width:auto; float:right; }

/*-----------------------------------------------------
Emergency Index
------------------------------------------------------*/
.PageEmergencyIndex #Main .MainInner { padding-top:30px; }
.PageEmergencyIndex .ScrollBox h3.TitleStyle04 { margin-bottom:10px; }
.PageEmergencyIndex #ContEmergency .EmergencyBody { margin-bottom: 40px; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li { margin-bottom: 15px; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li dl { display: block; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li dt { width: 100%; display: block; padding: 10px 0; }
.PageEmergencyIndex #ContEmergency .EmergencyBody ul.EmergencyList li dd { width: 100%; border-top: 2px solid #e5e5e5; border-left: none; padding: 10px 0; display: block; }

/*-----------------------------------------------------
Caution Index
------------------------------------------------------*/
.PageCautionIndex #ContCaution .CautionBody ul.CautionList li { margin-bottom: 30px; }

}
