@charset "utf-8";

input:placeholder-shown { color: #afafaf !important; }
input::-webkit-input-placeholder { color: #afafaf !important; }
input::-moz-placeholder { color: #afafaf !important; }
input:-ms-input-placeholder { color: #afafaf !important; }

/*-----------------------------------------------------
Contact|Common Style
------------------------------------------------------*/
#Main .MainInner { padding: 20px 0 98px; }
#ContContact { width: 870px; margin-left: 120px; }
#ContContact .ContactHead h2 { font-size: 35px; font-weight: bold; text-align: center; margin-bottom: 36px; text-indent: -0.2em; }
#ContContact .ContactHead figure.ContactPagi { margin: 0 0 25px 199px; }
#ContContact .ContactHead .InquiryDesc { margin-bottom: 23px; }
#ContContact .ContactHead .InquiryDesc p { font-size: 13px; line-height: 1.4; }
#ContContact .ContactHead .NavRight { }
#ContContact .ContactHead .NavRight ul { width: auto; float: right; }
#ContContact .ContactHead .NavRight li { float: left; position: relative; }
#ContContact .ContactHead .NavRight li.last { float: right; }
#ContContact .ContactHead .NavRight li a {display: inline-block;  font-size: 18px; color: #313131; line-height: 1.7; letter-spacing: 0.4px; }
#ContContact .ContactHead .NavRight li a:before { position: absolute; color: #aaaaaa; }
#ContContact .ContactHead .NavRight li a.icon-Download { width: 144px; padding-left: 24px; }
#ContContact .ContactHead .NavRight li a.icon-Download:before { top: 6px; left: 1px; font-size: 16px; }
#ContContact .ContactHead .NavRight li a.icon-Faq { width: 97px; padding-left: 27px; }
#ContContact .ContactHead .NavRight li a.icon-Faq:before { top: 8px; left: 2px; font-size: 13px; }
#ContContact .ContactHead .NavRight li a.icon-Access { padding: 0 3px 0 24px; }
#ContContact .ContactHead .NavRight li a.icon-Access:before { top: 4px; left: 5px; font-size: 19px; }
#ContContact .ContactHead .NavRight li a:hover:before,
#ContContact .ContactHead .NavRight li a:hover { color: #fbb34d; }
#ContContact .ContactForm { margin: 1px 0 2px 0; }
#ContContact .ContactForm .FormRequired { font-size: 13px; color: #aeaeae; }
#ContContact .ContactForm .Red { color: #ff0000; vertical-align: -webkit-baseline-middle; }
#ContContact .ContactForm .FormTable { background-color: #f7f7f7; padding: 48px 45px 46px 47px; }
#ContContact .ContactForm .FormTable table { width: 100%; font-family: "Arial"; }
#ContContact .ContactForm .FormTable table .Red { padding-left: 10px; }
#ContContact .ContactForm .FormTable table tr th { width: 197px; font-size: 16px; font-weight: bold; color: #222222; vertical-align: top; padding-top: 5px; }
#ContContact .ContactForm .FormTable table tr th label { padding-left: 1px; }
#ContContact .ContactForm .FormTable table tr td { width: 583px; font-size: 15px; color: #a6a6a6; }
#ContContact .ContactForm .FormTable table tr td input[type="text"] { height: 35px; background-color: #ffffff; border: 1px solid #afafaf; color:#222; padding: 0 12px; }
#ContContact .ContactForm .FormTable table tr td input.TextboxName { width: 273px; }
#ContContact .ContactForm .FormTable table tr td input.TextboxEmail { width: 570px; }
#ContContact .ContactForm .csBox select { width: 387px !important; cursor: pointer; z-index: 1; }

#ContContact .ContactForm .csBox .customSelect { height: 35px; background: #fff; border:solid 1px #afafaf; }
#ContContact .ContactForm .customSelectInner { position:relative; color:#afafaf; line-height: 1; padding: 10px 12px; }
#ContContact .ContactForm .customSelectInner:before {
	font-family: 'icon-tokai' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 35px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width:35px;
	height:35px;
	content:"\e916";
	background: #c2c2c2;
	position: absolute;
	right: -1px;
	top: -1px;
	border: solid 1px #c2c2c2;
	text-align: center;
	font-size:10px;
	color:#fff;
}

#ContContact .ContactForm .FormTable table tr td textarea { width: 570px; height: 280px; background-color: #ffffff; border: 1px solid #afafaf; padding: 12px; }
#ContContact .ContactForm .FormTable table tr td input[type="submit"] { width: 443px; height: 57px; background-color: #fbb34d; border: none; font-size: 21px; color: #ffffff; letter-spacing: 0.5px; cursor: pointer; text-indent: -0.8em; }
#ContContact .ContactForm .FormTable table tr td input[type="submit"]:hover { background-color: #f59000; }
#ContContact .ContactForm .FormTable table tr td .icon-ArrowRight { width: 443px; height: 57px; position: relative; font-size: 12px; margin-top: -6px; }
#ContContact .ContactForm .FormTable table tr td .icon-ArrowRight:before { position: absolute; top: 50%; left: 50%; color: #ffffff; margin: -5px 0 0 40px; }

/*-----------------------------------------------------
Contact|Input Style
------------------------------------------------------*/
#ContContact .ContactForm .FormTable table tr td { padding-bottom: 35px; }
#ContContact .ContactForm .FormTable table tr:last-child td { padding-bottom: 0; }
#ContContact .ContactForm .FormTable table tr.InputInquiry td { padding: 3px 0 36px; }

/*-----------------------------------------------------
Contact|Error Style
------------------------------------------------------*/
#ContContact .ContactForm .FormTable table tr td .ErrorText {display: none;  font-family: "Arial"; font-size: 13px; color: #ff0000; }
#ContContact .ContactForm .FormTable table tr td.InputError .ErrorText { display: block; }
#ContContact .ContactForm .FormTable table tr td.InputError { padding-bottom: 16px; }
#ContContact .ContactForm .FormTable table tr td.InputError input[type="text"],
#ContContact .ContactForm .FormTable table tr td.InputError select,
#ContContact .ContactForm .FormTable table tr td.InputError textarea,
#ContContact .ContactForm .FormTable table tr td.InputError .csBox .customSelect,
#ContContact .ContactForm .FormTable table tr td.InputError .csBox .customSelectInner:before { border: 1px solid #ff0000; }
#ContContact .ContactForm .FormTable table tr td.InputError .csBox .customSelectInner:before { border-left: none; }

/*-----------------------------------------------------
Contact|Confirm Style
------------------------------------------------------*/
.PageContactConfirm #ContContact .ContactHead .InquiryDesc p:first-child { color: #ff0000; }
.PageContactConfirm #ContContact .ContactForm .FormTable { padding: 55px 45px 57px 45px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr th { padding: 0 0 0 2px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr td { padding-bottom: 35px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr td p { color: #313131; letter-spacing: 0.3px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr:last-child td { padding-bottom: 0; }
.PageContactConfirm #ContContact .ContactForm .FormTable table .TxtConcerning { padding-bottom: 30px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table .TxtConcerning p { padding-top: 5px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr td .icon-ArrowRight { margin-top: 12px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr td .icon-ArrowRight:before { left: 49%; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr td input[type="submit"] { font-size: 21px; letter-spacing: 0.5px; text-indent: -1.5em; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr th.BackCell { font-weight: normal; vertical-align: middle; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr th.BackCell a { color: #8c8c8c; font-size: 15px; display: inline-block; margin-top: 13px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr th.BackCell a:before { color: #fbb34d; font-size: 11px; margin-right: 0.5rem; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr th.BackCell a:hover { color: #fbb34d; }

/*-----------------------------------------------------
Contact|Finish Style
------------------------------------------------------*/

/* =========================================================
Media Screen
========================================================= */
@media screen and (max-width:768px) {
/*-----------------------------------------------------
Contact|Common Style
------------------------------------------------------*/
#Main .MainInner { width: 88.5%; padding: 10px 0 35px; margin: 0 auto 50px; }
#ContContact { width: 100%; margin: 0; }
#ContContact .ContactHead h2 { font-size: 22px; margin-bottom: 18px; text-indent: 0; }
#ContContact .ContactHead figure.ContactPagi { width: 100%; margin: 0 auto 13px; }
#ContContact .ContactHead .InquiryDesc { margin-bottom: 13px; }
#ContContact .ContactHead .InquiryDesc p { font-size: 12px; line-height: 1.4; }
#ContContact .ContactHead .NavRight { margin-bottom:13px; }
#ContContact .ContactHead .NavRight li a { font-size: 14px; line-height: 1.95; letter-spacing: 0.4px; }
#ContContact .ContactHead .NavRight li a.icon-Download { width: 117px; padding-left: 19px; }
#ContContact .ContactHead .NavRight li a.icon-Download:before { font-size: 14px; }
#ContContact .ContactHead .NavRight li a.icon-Faq { width: 82px; padding-left: 29px; }
#ContContact .ContactHead .NavRight li a.icon-Faq:before { top: 6px; font-size: 13px; }
#ContContact .ContactHead .NavRight li a.icon-Access { padding: 0 3px 0 22px; }
#ContContact .ContactHead .NavRight li a.icon-Access:before { font-size: 16px; }
#ContContact .ContactForm .FormTable { padding: 4%; }
#ContContact .ContactForm .FormTable table tr th { width: 100%; float: left; }
#ContContact .ContactForm .FormTable table tr td {display: block;  width: 100%; float: left; clear: both; }
#ContContact .ContactForm .FormTable table tr td input.TextboxName { width: 100%; }
#ContContact .ContactForm .FormTable table tr td input.TextboxEmail { width: 100%; }
#ContContact .ContactForm .FormTable table tr td textarea { width: 100%; }
#ContContact .ContactForm .FormTable table tr td input[type="submit"] { width: 100%; }
#ContContact .ContactForm .FormTable table tr td .icon-ArrowRight { width: 100%; }

/*-----------------------------------------------------
Contact|Input Style
------------------------------------------------------*/
#ContContact .ContactForm .FormTable table tr td { padding-bottom: 15px; }
#ContContact .ContactForm .FormTable table tr.InputInquiry td { padding-bottom: 0; }
/*-----------------------------------------------------
Contact|Error Style
------------------------------------------------------*/
#ContContact .ContactForm .FormTable table tr td.InputError { padding-bottom: 7px; }
/*-----------------------------------------------------
Contact|Confirm Style
------------------------------------------------------*/
.PageContactConfirm #ContContact .ContactForm .FormTable { padding: 4%; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr td { padding-bottom: 20px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table .TxtConcerning { padding-bottom: 20px; }
.PageContactConfirm #ContContact .ContactForm .FormTable table tr th.BackCell { display: none; }
}

@media screen and (max-width:480px) {
#ContContact .ContactForm .csBox select { width: 229px !important; }
#ContContact .ContactForm .customSelectInner { width: 229px !important; }
}
