@charset "utf-8";


/*-----------------------------------------------------
Exchange Page Style
------------------------------------------------------*/
.PageExchange .LinkExchange { color: #373699!important; }
.PageExchange .LinkExchange:hover { text-decoration: underline; }
.PageExchange .dcopy { color: #ff004d!important; }
.PageExchange .MgnTopSS { margin-top: 20px; }
.PageJapaneseLanguageCourse .ListAdds li span.TextMail { color: #373699; }
.PageJapaneseLanguageCourse .LinkText li.LinkItem { margin-left: 15px; list-style-type: disc; color: #555; }
.PageShortTerm .ListBlock .NormalList li { position: relative; list-style-type: none; padding: 0 0 0 17px; }
.PageShortTerm .ListBlock .NormalList li:before { content: "*"; position: absolute; left: 0; top: 6px; font-size: 17px; font-family: "Meiryo"; color: #222; margin-right: 7px; line-height: 1; }
.TitleShortTerm { font-size: 18px; color: #44546a; }

@media screen and (max-width: 768px){

}