@charset "utf-8";
/*-----------------------------------------------------
	PageAcademicCalendar Style
------------------------------------------------------*/
.PageAcademicCalendar #Main .MainInner { padding: 30px 0 98px; }
.PageAcademicCalendar #ContCalendar { width: 870px; margin: 0 auto; }
.PageAcademicCalendar #ContCalendar .ContactHead h2 { font-size: 35px; font-weight: bold; text-align: center; margin-bottom: 36px; text-indent: -0.2em; }
.PageAcademicCalendar .ListPageMap { padding: 20px 30px; background: #f6f6f6; }
.PageAcademicCalendar .ListPageMap ul li { width: 270px; float: left; font-size: 18px; }

table.TableStyle01.Second tbody tr:first-child th,
table.TableStyle01.Second tbody tr:first-child td { border-top:solid 1px #e4e4e4; }

table.TableStyle01 thead th { font-weight:bold; text-align: center; }
table.TableStyle01 thead th.col-1 { width:auto; }
table.TableStyle01 tbody th { border-left:solid 1px #cbcbcb; text-align: center; }
table.TableStyle01 tbody th.caption { font-weight:bold; }
table.TableStyle01 tbody td { text-align: left; }
table.TableStyle01 tbody td:first-child { border-width: 0 0 1px 1px; }

.PageJapaneseLanguageCourse table.TableStyle01 thead th { word-wrap: break-word; }
.PageJapaneseLanguageCourse table.TableStyle01 tbody th:first-child { border-top: 1px solid #e4e4e4; word-wrap: break-word; }
.PageJapaneseLanguageCourse table.TableStyle01 tbody tr:first-child td { border-top: 1px solid #e4e4e4; word-wrap: break-word; }
.PageJapaneseLanguageCourse table.TableStyle01 thead th.col-7, .PageJapaneseLanguageCourse table.TableStyle01 thead th.col-8 { background-color: #e4e4e4; border-bottom: 1px solid #e4e4e4; border-right: solid 1px #fff; color: #000; word-wrap: break-word; }

@media screen and (max-width: 768px){
/*-----------------------------------------------------
	PageAcademicCalendar Style
------------------------------------------------------*/
	.PageAcademicCalendar #Main .MainInner { width: 88.5%; padding: 15px 0 35px; margin: 0 auto 50px; }
	.PageAcademicCalendar #ContCalendar { width: 100%; margin: 0; }
	.PageAcademicCalendar #ContCalendar .ContactHead h2 { font-size: 22px; margin-bottom: 18px; text-indent: 0; }
	.PageAcademicCalendar .ListPageMap { padding: 10px 15px; }
	.PageAcademicCalendar .ListPageMap ul li { width: 50%; font-size: 15px;}

	table.TableStyle01 th,
	table.TableStyle01 td { padding:10px 5px; }

	.PageJapaneseLanguageCourse table.TableStyle01 thead th { padding:10px 0; }

}
