@charset "utf-8";

/*-----------------------------------------------------
　Elements Parts Style
------------------------------------------------------*/
.ELMTitle { clear:both; display: inline-block; width:auto; height:45px; background: #000; font-size: 19px; font-weight: bold; color:#fff; line-height: 45px; padding:0 10px; }
.ELMSubTitle { clear:both; display: inline-block; border: 1px solid #000; font-size: 15px; line-height:34px; padding:0 10px; }

@media screen and (max-width: 768px){
.syntaxhighlighter { display:none !important; }
}
