<div id="Lside">
	<nav class="LsideNav">
		<ul class="LsideList">
			<li><a href="/english/about/greetings.html" class="AcoGreetings">Greetings</a></li>
			<li><a href="/english/about/founder.html" class="AcoFounder">Founder and Founding Spirit</a></li>
			<li><a href="/english/about/history.html" class="AcoHistory">History</a></li>
			<li><a href="/english/about/governance.html" class="AcoGovernance">Governance and Organization</a></li>
			<li><a href="/english/about/facts.html" class="AcoFacts">Facts and Figures</a></li>
			<li><a href="/english/about/international.html" class="AcoInternational">International Exchange</a></li>
			<li><a href="/english/about/overseas.html" class="AcoOverseas">Overseas Offices</a></li>
		</ul>
	</nav><!-- /.LsideNav -->
</div><!-- /#Lside -->
