@charset "utf-8";


/*-----------------------------------------------------
Voices Page Style
------------------------------------------------------*/
.PageStudentVoices .PersonDesc dt {
	width: 100px;
	float: left;
}
.PageStudentVoices .PersonDesc dd .LinkItem {
	margin-bottom: 0px;
}
/* =========================================================
Media Screen
========================================================= */
@media screen and (max-width:768px) {

}